<div class="curriculum-background">
  <div class="container">
    <div class="card-list">
      <h1 class="text-center camel card-list__title">Learning Paths</h1>
      <% @paths.each do |path| %>
        <div class='card-main card-main--clickable'>
          <%= link_to '', path, class: 'card-main__link' %>
          <div class="card-main__header">
            <h2 class="card-main__header-title"><%= path.title %></h2>
            <% if current_user.nil? %>
              <%= button_to 'View Path', path_url(path), method: :get, class: 'button button--secondary card-main__button' %>
            <% elsif current_user.path === path %>
              <%= button_to 'Resume', path_url(path), method: :get, class: 'button button--primary card-main__button' %>
            <% else %>
              <%= button_to 'Switch', users_paths_path(path_id: path.id), class: 'button button--secondary card-main__button', remote: false, method: :post, data: { disable_with: 'Switching...' } %>
            <% end %>
          </div>
          <div class="card-main__description">
            <% if path.prerequisites.any? %>
              <p class="card-main__prerequisites">
                <strong>Prerequisites: <%= prerequisites_list_for(path) %></strong>
              </p>
            <% end %>
            <p><%= path.description%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

