<%= title(@path.title) %>

<div class="content-container-lg">
  <section class="flex flex-col justify-between items-start space-y-8 mb-12 md:flex-row md:items-center md:space-y-0">
    <div>
      <h1 class="page-heading-title text-left m-0"><%= @path.title %></h1>
      <p class="text-left max-w-lg lg:max-w-xl"><%= @path.description %></p>
    </div>

    <% if current_user&.path != @path %>
      <%= button_to 'Select Path', users_paths_path(path_id: @path.id), class: 'button button--secondary', remote: false, method: :post, data: { disable_with: 'Selecting...', test_id: "#{@path.title.downcase}-select-path-btn" } %>
    <% else %>
      <%= button_to 'Selected Path', "", class: 'button', disabled: true, remote: false, method: :post, data: { disable_with: 'Selecting...', test_id: "#{@path.title.downcase}-select-path-btn" } %>
    <% end %>
  </section>

  <%= render @path.courses %>

  <% unless user_signed_in? %>
    <p class="text-center path-description">
      <%= render 'shared/bottom_cta',
        button: sign_in_or_view_curriculum_button,
        heading: 'Start learning for free now!',
        sub_heading: ''
      %>
    </p>
  <% end %>
</div>
