<div id="hall-of-fame">
	<h2>HALL OF FAME</h2>
	<p>The Hall of Fame members are the hardworking devs who have built The Odin Project into the site that
		 you see before you now. But it's not over, not by a longshot! The Odin Project will be changing and
		 growing continually as it goes forward, and there's room in the Hall of Fame for more! So get your
		 coder hat and your rubber ducky and get going!
	</p>


	<div id="hof-members">
		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/erik.jpg", alt: "Erik Trautman"%>
				</div>
				<div class="bio">
				  <p>Erik is the founder and main contributor to The Odin Project. Hail fearless leader!</p>
				</div>
			</div>
			<div class="name-bg">
				<h3>Erik Trautman</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/eriktrautman", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "Blog", "http://www.eriktrautman.com/blog", :target => "_blank" %>
				</div>
			</div>
		</div>


		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/afshin.jpg", alt: "Afshin Moktari"%>
				</div>
				<div class="bio">
				  <p>Afshin has assisted with many features of The Odin Project. He is an
						 accomplished Rubyist and front end developer.
					</p>
				</div>
			</div>
			<div class="name-bg">
				<h3>Afshin Mokhtari</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/afshinator", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "Blog", "http://afshin.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>
		</div>


		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/joshua.jpg", alt: "Joshua Gorchov"%>
				</div>
				<div class="bio">
				  <p>Joshua brings a passion for design and learning to the project. He founded the
					Odin studygroup and has contributed on numerous features.</p>
				</div>
			</div>
			<div class="name-bg">
				<h3>Joshua Gorchov</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/gorchov", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "", "#" %>
				</div>
			</div>
		</div>


		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/joe.jpg", alt: "Joe Sawyer"%>
				</div>
				<div class="bio">
				  <p>Joe is a big contributor and was instrumental in porting to Rails 4. He's training
						to be a developer, and spends all his free time learning to code.</p>
				</div>
			</div>				
			<div class="name-bg">
				<h3>Joe Sawyer</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/zkay", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "Blog", "http://www.thehopefulwebdev.com/", :target => "_blank" %>
				</div>
			</div>
		</div>


		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/bill.jpg", alt: "Bill Walker"%>
				</div>
				<div class="bio">
				  <p>Bill is a studying developer, contributing here and at <%= link_to "Agile Ventures", "http://agileventures.org"%> as life permits. He thinks there's probably something to this whole 
						  <%= link_to "Agile", "http://agilemanifesto.org"%> brouhaha. </p>
				</div>
			</div>					
			<div class="name-bg">
				<h3>Bill Walker</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/mach1010", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "Blog", "http://mach1010.com", :target => "_blank" %>
				</div>
			</div>
		</div>


		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/neil.jpg", alt: "Neil Gehani"%>
				</div>
				<div class="bio">
				  <p>Neil has been a big help with Odin and has long been available to help and guide
					others.</p>
				</div>
			</div>		
			<div class="name-bg">
				<h3>Neil Gehani</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/ngehani", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "", "#" %>
				</div>
			</div>
		</div>


        <div class="hof-card">
          <div class="container">
            <div class="img">
              <%= image_tag "hof/ian.jpg", alt: "Ian White"%>
            </div>
            <div class="bio">
              <p>Ian is studying to become a full stack web developer and is a recent grad of the MakerSquare coding bootcamp in Austin.</p>
            </div>
          </div>					
					<div class="name-bg">
						<h3>Ian White</h3>
					</div>
					<div class="hof-links">
						<div class="github">
							<%= link_to "GitHub", "http://github.com/Iawhite76", :target => "_blank" %>
						</div>
						<div class="blog">
							<%=link_to "", "#" %>
						</div>
					</div>
        </div>


        <div class="hof-card">
          <div class="container">
            <div class="img">
              <%= image_tag "hof/nathanhall.png", alt: "Nathan Hall"%>
            </div>
            <div class="bio">
              <p>Nathan is a web developer who graduated from MakerSquare in Austin, TX.  He'd love to pair up and help if you have questions. </p>
            </div>
          </div>					
					<div class="name-bg">
						<h3>Nathan Hall</h3>
					</div>
					<div class="hof-links">
						<div class="github">
							<%= link_to "GitHub", "http://github.com/dominathan", :target => "_blank" %>
						</div>
						<div class="blog">
							<%=link_to "", "#" %>
						</div>
					</div>
		</div>

		<div class="hof-card">
			<div class="container">
				<div class="img">
					<%= image_tag "hof/abby.jpg", alt: "Abby Jones"%>
				</div>
				<div class="bio">
				  <p>Abby is a teacher who started her coding journey on <a href="https://www.edx.org/" target="__blank">EdX</a> and was a TA at <a href="http://omahacodeschool.com/" target="__blank">Omaha Code School</a>. She enjoys building features and new skills with the awesome Odin community.
					</p>
				</div>
			</div>
			<div class="name-bg">
				<h3>Abby Jones</h3>
			</div>
			<div class="hof-links">
				<div class="github">
					<%= link_to "GitHub", "http://github.com/AbbyJonesDev", :target => "_blank" %>
				</div>
				<div class="blog">
					<%=link_to "Blog", "http://www.abbyjones.net/blogs/main", :target => "_blank" %>
				</div>
			</div>
		</div>


	</div>
</div>