<div id="hall-of-fame" class="mb-5">
	<h3 class="camel text-center mb-5 font-weight-bold">Hall of Fame</h3>
	<p class="w-50 mx-auto text-center mb-5">The Hall of Fame members are the hardworking devs who have built The Odin Project into the site that you see before you now.
	</p>
</div>

	<div class="grid mt-5 ml-md-3">

		<!-- Top Row -->
		<div class="circles">
			<div class="spacer-1"></div>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/joe.jpg", alt: "Joe Sawyer", class: 'img-fluid'), "http://github.com/zkay", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/afshin.jpg", alt: "Afshin Moktari", class: 'img-fluid'), "http://github.com/afshinator", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/nathanhall.png", alt: "Nathan Hall", class: 'img-fluid'), "http://github.com/dominathan", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/abby.jpg", alt: "Abby Jones", class: 'img-fluid'), "http://github.com/AbbyJonesDev", :target => "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/joshua.jpg", alt: "Joshua Gorchov", class: 'img-fluid'), "http://github.com/gorchov", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/neil.jpg", alt: "Neil Gehani", class: 'img-fluid'), "http://github.com/ngehani", target: "_blank" %>
		    </div>
		  </circle>
		</div>

		<!-- Middle Row -->
		<div class="circles middle">
			<div class="spacer-1"></div>
		  <div class="spacer"></div>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/ian.jpg", alt: "Ian White", class: 'img-fluid'), "javascript:;", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/bill.jpg", alt: "Bill Walker", class: 'img-fluid'), "http://github.com/mach1010", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/erik.jpg", alt: "Erik Trautman", class: 'img-fluid'), "http://github.com/eriktrautman", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/joe.jpg", alt: "Joe Sawyer", class: 'img-fluid'), "http://github.com/zkay", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/nathanhall.png", alt: "Nathan Hall", class: 'img-fluid'), "http://github.com/dominathan", target: "_blank" %>
		    </div>
		  </circle>
		  <div class="spacer"></div>
		</div>

		<!-- Bottom Row -->
		<div class="circles">
			<div class="spacer-1"></div>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/erik.jpg", alt: "Erik Trautman", class: 'img-fluid'), "http://github.com/eriktrautman", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/neil.jpg", alt: "Neil Gehani", class: 'img-fluid'), "http://github.com/ngehani", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/joshua.jpg", alt: "Joshua Gorchov", class: 'img-fluid'), "http://github.com/gorchov", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/afshin.jpg", alt: "Afshin Moktari", class: 'img-fluid'), "http://github.com/afshinator", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/ian.jpg", alt: "Ian White", class: 'img-fluid'), "javascript:;", target: "_blank" %>
		    </div>
		  </circle>
		  <circle class="holder">
		    <div class="circle">
		    <%= link_to image_tag("hall_of_fame_images/abby.jpg", alt: "Abby Jones", class: 'img-fluid'), "http://github.com/AbbyJonesDev", :target => "_blank" %>
		    </div>
		  </circle>
		</div>
	</div>
	<div class="text-center mt-5">
		<%= link_to 'View All Contributors', github_link('theodinproject/graphs/contributors'), class: 'camel-link mb-5', target: '__blank'%>
	</div>
	<div class="row questions">
    <div class="col text-center">
      <h1 class="text-muted">Got questions?</h1>
      <p class="hang-out">
        Chat with our friendly Odin community in our Gitter chatrooms
      </p>
      <%= link_to 'Open Gitter', chat_link, class: 'cta', target: '__blank' %>
    </div>
   </div>
</div>
