<div class="studygroup-side pull-left" >
  <h3>Web Development 101</h3>

  <p>This is a free weekly study group on Sundays at 6pm CDT (GMT-5). We will be working through The Odin Project <%= link_to "curriculum", "http://www.theodinproject.com/courses" %> from beginning to end.</p>

  <p>During the week, we will be working through the curriculum 
  independently, and completed projects are due on Sunday at our meeting. During our study group meetings, we can show our completed projects, discuss questions, and keep each other motivated.</p>

  <p>I'm a beginner. But if you have more experience please feel free to join up. We are going to try and follow the same schedule as the previous Web development 101. I decided to start a study group so I can keep myself on schedule and for those have just started and feel to far behind to jump in the other groups.</p>
  <p> Note: There are now two times for the study group on Sundays. In the calender, I did try to make it so we can all edit and take a look. That way we can just add a hangout if you need help and someone can jump on and helpout. </p>

  <strong><p>Your fearless guide: <a href="https://github.com/tjperry07">Tatiana</a></p></strong>
  <strong><p>Your friendly pirate captain: <a href="https://github.com/pndpo">Peter"</a></p></strong>

  <h4>Schedule</h4>

  <iframe src="https://www.google.com/calendar/embed?src=90sdk32acgcg5gnte2d3n74ih8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>


<!-- **************** WEEKS **************** -->
<div class="studygroup-content pull-left" >
  
              <!-- WEEK -->
<!--         <h3>Week 9 Study Group Meeting</h3>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, April 13, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm CST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish through the <a href="http://www.theodinproject.com/web-development-101/ruby-on-rails">Rails Project ("Jumpstart Blogger")</a>.
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cfek9ovekip05ss0ktdjua1ei7g" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:55pm CST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    It's a tough week this week so I hope you've gotten a head start -- we'll be doing all the lessons up to the Jumpstart Blogger tutorial in Ruby on Rails. For some, it may be your first taste of Rails.  It'll be challenging at first because I'm intentionally throwing a lot at you.  We can debug your issues in the study group.
  </p>
  <div class="rule"></div> -->




  <!-- WEEK -->
  <!-- <h4>Week 8 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, April 6, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm CST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish through the <a href="http://www.theodinproject.com/web-development-101/ruby">Ruby Project ("Test-First Ruby")</a>.
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cvcupr4107ga4qfjaa2jshegqv0?partnerid=gplp0" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:55pm CST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    This week you get a chance to do some Test-First Ruby, which both gives you exposure to testing and will challenge your understanding of the language like hasn't happened yet so far.  Next week we'll move into frameworks and, specifically, get you your first taste of Ruby on Rails.
  </p>
  <div class="rule"></div> -->


  <!-- WEEK -->
  <!-- <h4>Week 7 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, March 30, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm CST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish the <a href="http://www.theodinproject.com/web-development-101/ruby-basics">Ruby Basics lesson</a>, which includes the <a href="http://rubymonk.com/learning/books/1">Ruby Monk tutorials</a> and the Project Euler problems (which you've already done in Javascript).
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/c7mskcg1l1r1pc0hu1daoobsuq8" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:50pm CST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    March 23 - March 30, 2014
  </p>
  <p>
    We'll finish up the "learning" part of Ruby this week by closing the book on Chris Pine and the Ruby Monk.  Next week we'll move into testing and the project (<a href="http://www.theodinproject.com/courses/web-development-101/lessons/ruby">Test-First Ruby Project</a>).
  </p> -->


  <!-- WEEK -->
  <!-- <div class="rule"></div>
  <h4>Week 6 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, March 23, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm CST (GMT-7)
    </p>
    <p>
      <strong>Project Due: </strong>Chris Pine's <%= link_to "Learning to Program", "http://pine.fm/LearnToProgram/?Chapter=00" %>, ch 1-10 problem solutions.
    </p>
    <p>
      <strong>Extra Credit: </strong>Finish the <a href="http://rubymonk.com/learning/books/1">Ruby Monk tutorials</a> or even get started on the <a href="http://www.theodinproject.com/courses/web-development-101/lessons/ruby">Test-First Ruby Project</a>
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cl5d2lc8p5cfp1v3ftt04njo10s" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:50pm CST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    March 17 - March 23, 2014
  </p>
  <p>
    Because we didn't have a real meeting last week, consider this a reprieve and some extra time to work on Ruby!  The homework assignment is still chapters 1 - 10 in Chris Pine's book but you can hopefully also dive into the Ruby Monk lessons listed in the <a href="http://www.theodinproject.com/courses/web-development-101/lessons/ruby-basics">Ruby Basics</a> lesson.
  </p>
  <p>
    On Sunday we will review any questions you have about Chris Pine's book, the Ruby Monk tutorials, and look ahead to the Test-first project which will be done the following week.
  </p> -->



  <!-- WEEK -->
  <!-- <div class="rule"></div>

  <h4>Week 5 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, March 16, 2014<br>
  <strong>Time: </strong>6:00pm CST (GMT-6)<br>
  <strong>Project Due: </strong>Complete Chris Pine's <%= link_to "Learning to Program", "http://pine.fm/LearnToProgram/?Chapter=00" %>, chapters 1 - 10 problem solutions.<br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/c3rpsof2nbo62cbqau3o14581d0" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm CST on Sunday.</p>

  <h4>Week 5 Curriculum</h4>
  <p>March 10 - March 16, 2014<br>
  <p>Drop and give me chapters 1 - 10. This week we're working through Chris Pine's Learning to Program, chapters 1 -10. We have a week to read and solve the problems, which works out to about 2 chapters per day. On Sunday we can review our code together.﻿</p>
-->
  <div class="rule"></div>
  <h4>Note: No study group next week!</h4>
  <!-- WEEK -->
  <div class="rule"></div>
  
  <h4>Week 5 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, May 25, 2014<br>
  <strong>Time: </strong>6:00pm EST<br>
  <strong>Project Due: </strong>Ruby Tests<br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/c5n71h49dae47pv0koip9d1rjnk" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm EST on Sunday.</p>
  <h4>Week 5 Curriculum</h4>
  <p>May 19 - May 25, 2014<br>
  <p>This week's mission is to complete the <%=link_to "Project Ruby", "http://www.theodinproject.com/web-development-101/ruby" %> and read through <%= link_to "The Back End", "http://www.theodinproject.com/web-development-101" %>.</p>
  


  <!-- WEEK -->
 <div class="rule"></div>

  <h4>Week 4 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, May 18, 2014<br>
  <strong>Time: </strong>6:00pm EST (GMT-4)<br>
  <strong>Time: </strong>7:00pm PST (GMT-7) (Just this week and back to normal next week)<br>
  <strong>Project Due:<%= link_to "Javascript/jQuery", "http://www.theodinproject.com/web-development-101/javascript-and-jquery" %><br> </strong>Javascript/jQuery<br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/c77gt4923o0isha5u911sjdvs84" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm EST on Sunday.</p>
  <h4>Week 4 Curriculum</h4>
    <p>This week's mission is to complete the <%=link_to "Javascript 101", "http://www.theodinproject.com/courses/web-development-101/lessons/javascript-basics" %> lesson.</p>
  <p>We are going to go over the etch a sketch project. Last week was my fault. I never sent the request to update the study group tab I only posted to the Google+ page. If you need help in between lessons or study groups feel free to request a hangout with me. Best times are 5:00pm and after CST. </p>

-->

  <!-- WEEK -->
  <div class="rule"></div>

 <h3> Week 3 Study Group Meetings</h3>
  <p><strong>Date: </strong>Sunday May 4th, 2014 May the fourth be with you!!!<br>
  <strong>Time 1: </strong>6:00pm CDT (GMT-5)<br>
  <strong>Time 2: </strong>6:00pm PDT (GMT-7)<br>
  <strong>Project Due: </strong><%= link_to "Javascript/jQuery", "http://www.theodinproject.com/web-development-101/javascript-and-jquery" %><br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cg3mb8amlj0d13equ1gstl8bc8c" %><br>
    A link to join the meeting will be posted on the hangout page at 5:50pm on Sunday.</p>
    <p> This is the third meeting. We will be talking about the Javascript/jQuery project.</p>
		<p>Week 2 we talked about github and getting that down. A few resources listed were: <%= link_to "Git Hub Basics for the Odin Project", "http://pastebin.com/5pmwFEvx" %>, <%= link_to "Git the simple guide", "http://rogerdudler.github.io/git-guide/" %>, <%= link_to "Git Hub Video Tutorial", "http://www.youtube.com/playlist?list=PLGLfVvz_LVvQHO1PfyscjIPkNJjgHsLyH" %> and finally one from the Odin Project <% link_to "Contributing to Open Source Part II: The Real Way", "https://www.youtube.com/watch?v=mENDYhfxH-o" %> . 
			
		</p>

  <h4>Week 3 Curriculum</h4>
  <p>April 27-May 3rd 2014<br>
  <%= link_to "Javascript Basics", "http://www.theodinproject.com/web-development-101/javascript-basics" %>
  <%= link_to "jQuery 101", "http://www.theodinproject.com/web-development-101/jquery-basics?ref=lnav" %></p>

<!-- WEEK -->

  <h3> Week 2 Study Group Meetings</h3>
  <p><strong>Date: </strong>Sunday April 26th, 2014<br>
  <strong>Time 1: </strong>6:00pm CDT (GMT-5)<br>
  <strong>Time 2: </strong>6:00pm PDT (GMT-7)<br>
  <strong>Project Due: </strong><%= link_to "Project HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cddhqjg4dmp0n6qp7asfc1hfu9g?authkey=CISzloaF8peiKg" %><br>
    A link to join the meeting will be posted on the hangout page at 5:50pm on Sunday.</p>
    <p> This will be the second meeting and we will be discussing the first project in HTML and CSS. </p>

  <h4>Week 2 Curriculum</h4>
  <p>April 26-May 3rd 2014<br>
  <%= link_to "Introduction to the Frontend", "http://www.theodinproject.com/web-development-101/introduction-to-the-front-end" %>
  <%= link_to "HTML and CSS 101", "http://www.theodinproject.com/web-development-101/html-and-css-basics" %></p>

  <!-- WEEK -->

  <h3>Week 1 Study Group Meeting</h3>
  <p><strong>Date: </strong>Tuesday April 22nd, 2014<br>
  <strong>Time: </strong>6:00pm CST (GMT-6)<br>
  <strong>Project Due: </strong><%= link_to "HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cddhqjg4dmp0n6qp7asfc1hfu9g?authkey=CISzloaF8peiKg" %><br>
    A link to join the meeting will be posted on the hangout page at 5:50pm on Sunday.</p>
    <p> This will be our first meeting. So we will get our bearings and discuss how we want to proceed. </p>

  <h4>Week 1 Curriculum</h4>
  <p>April 20-26th 2014<br>
  <%= link_to "HTML and CSS Basics", "http://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics" %></p>
 
</div>     
  
<!-- .studygroup-content -->
<div style="clear:both"></div>
