<div class="studygroup-side pull-left" >
  <h3>The Ruby Track</h3>

  <p>This is a free weekly study group on Monday at 10pm EST, but will also present an earlier event for any 'Europeans or non standard US timezones individuals' who would like to join. We will be working through The Odin Project <%= link_to "curriculum", "http://www.theodinproject.com/courses" %> from beginning to end.</p>

  <p>During the week, we will be working through the curriculum
  independently, and completed projects are due on the date of our next meeting. During our study group meetings, we can show our completed projects, discuss questions, and keep each other motivated.</p>

  <p>I'm a Ruby Newbie. But if you have more experience please feel free to join up, it will be greatly appreciated. The final schedule is posted and will be mirror the curriculum structure and be completed within 10 weeks depending on everyone's pace.</p>
  <p>I have personally completed several tutorials in Rails(framework for Ruby), but I am looking to increase my increase my experience with the Ruby Lang and looking for anyone else who is interested learning Ruby with me.</p>

  <p> Note: Yes, there are two hangouts and will be as long as I can get 12 rsvps for the Daytime event, so please invite anyone who is interested. </p>

  <p><strong><%= link_to "Add me to your G+ circles!", "https://plus.google.com/u/0/102551882338253835993/posts"%></strong>

  <strong><p>Featured Ruby Newbie: <a href="https://twitter.com/brianllamar">Brian</a></p></strong>
  <strong><p>The assistant: <a href="https://plus.google.com/b/102551882338253835993/102551882338253835993/posts">"Accepting Applicants!!!"</a></strong> If would like to assists in notes or provide regular input.</p>

  <h4>Prerequisites</h4>
   <ul>
     <li>Be familiar enough the info in the Web 101 track and possibly Git. If you're not,
     at least read through the first section of
       <%= link_to "Web Dev 101 ", "http://www.theodinproject.com/courses/web-development-101/lessons" %>
       sections.
     </li>
     <li>Read
       <%= link_to "Getting started guide", "https://gist.github.com/brianllamar/11261930#file-week0-md" %>.
     </li>
   </ul>

  <h4>Schedule</h4>

  <p>Mondays at 1230pm and 10pm est </p>

  <iframe src="https://www.google.com/calendar/embed?src=9ciuegse13t8j292s6iimu5oto%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<!-- **************** WEEKS **************** -->

<div class="studygroup-content pull-left" >
  <p>Click below for transcripts on each session. Visit
    <a href="https://gist.github.com/brianllamar/11261930" target="_blank">
    the courses gist page</a>.
  </p>
<!-- **************** ACCORDIONED WEEKS **************** -->
  <div class="accordion" id="rb-accordion">
     <!--WEEK 9-->
     <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseNine">
              Week 9 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseNine" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week#num_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week 9 Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday July 14, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Complete all sections, Testing, Git, and Final Project", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/crpkm8sarrb91goed585fcla3og" %> or
                <br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/events/crpkm8sarrb91goed585fcla3og" %>
              </p>
            </div>
          </div>
        </div>
    </div> 
     <!--WEEK 8-->
     <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseEight">
              Week 8 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseEight" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week8num_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week Eight Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday July 7, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Algorithm and Recursion sections", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/events/ccrfince8tqt4rrgqrp32biqdg8" %><br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
                <p>Working on Algorithms and Recursion, nothing too crazy but some great info.</p>
              </p>
            </div>
          </div>
        </div>
    </div> 
    <!-- WEEK 7-->
    <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseSeven">
              Week 7 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseSeven" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week7_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week 7 Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday June 30, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Complete the OOP  and File/IO sections", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/c3s76icmjg67g3lggo3c434pt1k" %> or
                <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/ce4kqcvqjkt1vs72odqb5cmjfks?authkey=CNyhhe-Q6bTivAE" %><br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
                <p>This week we will share our solutions for the OOP sectio. These are all open book problem sets so feel free to read through the example code and recommended resources.</p>
              </p>
            </div>
          </div>
        </div>
    </div>
    <!-- WEEK 6-->
    <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseSix">
              Week 6 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseSix" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week6_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week 6 Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday June 23, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Complete the OOP  and File/IO sections", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/ca5tdrnlvrq1d9cp9ie55q8po9s" %> or
                <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/ca5tdrnlvrq1d9cp9ie55q8po9s" %><br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
                <p>This week we will share our solutions for the OOP sectio. These are all open book problem sets so feel free to read through the example code and recommended resources.</p>
              </p>
            </div>
          </div>
        </div>
    </div>
    <!-- WEEK 5-->
    <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseFive">
              Week 5 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week5_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week 5 Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday June 2, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Complete the OOP problem set", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/crvi2ovnakkm1d40muq9vk4a228?authkey=COnk26SUhICECQ" %> or
                <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/c1tievgcpro7tsvagjc9p42qacc?authkey=CKqG5rm2nOLtgAE" %><br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
                <p>This week we will share our solutions for the OOP sectio. These are all open book problem sets so feel free to read through the example code and recommended resources.</p>
              </p>
            </div>
          </div>
        </div>
    </div>
     <!-- WEEK 4-->
    <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseFour">
              Week 4 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week4_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week 4 Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday May 27, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Complete the Advanced Building Blocks problem set", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/ch6vtttsjghhj116a658du0i1j8" %> or <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/events/ctt2v7roq6a06sp0booj9mdaeq4" %><br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Project Due:</strong> Read "<%= link_to "Building Blocks problems" %>"<br/>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
                <p>This week we will share our solutions to our first problem set and continue onto the next problem set. Be sure to begin reading through the OOP section in preparation for next week's assignment.</p>
              </p>
            </div>
          </div>
        </div>
    </div>
    <!-- WEEK 3-->
    <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseThree">
              Week 3 Study Group Meeting
            </a>
          </div>
          <div id="rb-collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="studygroup-content pull-left">
                <p>

                <p>Click below for transcripts on each session. Visit
                  <a href="https://gist.github.com/brianllamar/11261930#file-week3_transcript-md" target="_blank">
                  the courses gist page</a>.
                </p>
                <h3>Week 3 Study Group Meeting</h3>
                <p><strong>Date: </strong>Monday May 19, 2014<br>
                <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
                <strong>Project Due: </strong><%= link_to "Complete the Building Blocks problem set and finish the Avancded Building Blocks section", "http://www.theodinproject.com/ruby-programming/" %><br>
                <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/c2m5nt4dteoosq8p7f6d2d390tk" %> or <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/cdhttlkq4a3a1mf6vm5m6clfi38?authkey=CJCPlZK2i8PyDw" %><br>
                  A link to join the meeting will be posted on the hangout page 15 mins prior on Monday.</p>
                <strong>Project Due:</strong> Read "<%= link_to "Building Blocks problems" %>"<br/>
                <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
                <p>This week we will share our solutions to our first problem set and continue onto the next problem set. Be sure to begin reading through the Avanced section in preparation for next week's assignment.</p>
              </p>
            </div>
          </div>
        </div>
    </div>
      <!-- WEEK 2-->
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseTwo">
            Week 2 Study Group Meeting
          </a>
        </div>
        <div id="rb-collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="studygroup-content pull-left">
              <p>

              <p>Click below for transcripts on each session. Visit
                <a href="https://gist.github.com/brianllamar/11261930#file-week2_transcript-md" target="_blank">
                the courses gist page</a>.
              </p>
              <h3>Week 2 Study Group Meeting</h3>
              <p><strong>Date: </strong>Monday May 12, 2014<br>
              <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
              <strong>Project Due: </strong><%= link_to "Complete Step 1 of the curriculum", "http://www.theodinproject.com/ruby-programming/how-this-course-will-work" %><br>
              <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/events/cvtb5as8ko95prl8ds76gqtti50" %> or <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/events/c1a8gemtkh4b8dd4khigmctn51s?authkey=CJbW9cbkzsrvKw" %><br>
                A link to join the meeting will be posted on the hangout page 15 mins prior on Monday. This will be our first "official" jump into the problems.</p>
              <strong>Project Due:</strong> Read "<%= link_to "Steps 1 and 2", "http://www.theodinproject.com/ruby-programming" %>"<br/>
              <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
              <p>This week will conclude the first Ruby section "Ruby Building Blocks," This covers steps 1, 2, and first project. We will finally have something to build.</p>
            </p>
          </div>
        </div>
      </div>
    </div>
      <!-- WEEK 1-->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseOne">
            Week 1 Study Group Meeting
          </a>
        </div>
        <div id="rb-collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="studygroup-content pull-left">
              <p>

              <p>Click below for transcripts on each session. Visit
                <a href="https://gist.github.com/brianllamar/11261930" target="_blank">
                the courses gist page</a>.
              </p>
              <h3>Week 1 Study Group Meeting</h3>
              <p><strong>Date: </strong>Monday May 5, 2014<br>
              <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:30pm 'Early Birds' EST (GMT-4)<br>
              <strong>Project Due: </strong><%= link_to "Complete Step 1 of the curriculum", "http://www.theodinproject.com/ruby-programming/how-this-course-will-work" %><br>
              <strong>Location: </strong><%= link_to "Night Edition - Google Hangout", "https://plus.google.com/b/102551882338253835993/events/csd35cv1t8an5vi5kslq3a77dsc" %> or <%= link_to "Early Birds - Google Hangout", "https://plus.google.com/events/cm2682khiglibntnv9maheo56vo" %><br>
                A link to join the meeting will be posted on the hangout page 15 mins prior on Monday. This will be our first "official" jump into the curriculum.</p>
              <strong>Project Due:</strong> Read "<%= link_to "How This Course Will Work", "http://www.theodinproject.com/ruby-programming/how-this-course-will-work:" %>"<br/>
              <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/b/102551882338253835993/102551882338253835993/posts" %><br>
              <p>I have extended the assignment due, "How this course will work." I am also encouraging everyone to at least complete the Codecademy Ruby Course or Learn Programming with Chris Pine, since there were a number newbies to Ruby. </p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- WEEK 0-->

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#rb-accordion" href="#rb-collapseZero">
          Week 0 Study Group Meeting
        </a>
      </div>
        <div id="rb-collapseZero" class="accordion-body collapse">
          <div class="accordion-inner">
            <p><strong>Date: </strong>Monday April 27, 2014<br>
            <strong>Time: </strong>10:00pm 'Night Edition' EST (GMT-4) or 12:00pm 'early Birds' EST (GMT-4)<br>
            <strong>Project Due: </strong><%= link_to "Nothing this week, just come say hello and skim through coursework", "http://www.theodinproject.com/ruby-programming" %><br>
            <strong>Location: </strong><%= link_to "Night - Google Hangout", "https://plus.google.com/u/0/b/102551882338253835993/events/c8e60qqs4f7ei5qu1pr51ga913g" %> or <%= link_to "Day - Google Hangout", "https://plus.google.com/u/0/b/102551882338253835993/events/cponvt5s56jgst6p09acbmgfdl4" %><br>
              A link to join the meeting will be posted on the hangout page 15 mins prior on Monday. This will be our first meeting and will be an introduction to the group. Please stop by and say hello.</p>
            <strong>Project Due:</strong> Read "<%= link_to "How This Course Will Work", "http://www.theodinproject.com/ruby-programming/how-this-course-will-work:" %>"<br/>
            <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cmv65qujljba9bcqcqhp5j502p0" %><br>
            <strong>Video: </strong><%= link_to "Youtube", "https://www.youtube.com/watch?v=gzwAZCQgPLs" %><br>
            <strong>Transcript: </strong><%= link_to "Gist", "https://gist.github.com/brianllamar/11261930#file-week0_transcript-md" %><br>
            </p>
          </div>
        </div>
     </div>
  </div>  <!-- end of accordion div -->
            <hr>
            <div>
                <p><strong>Stop by the <a href="https://plus.google.com/u/0/b/112041900311777032328/communities/100013596437379837846" target="_blank">
                  Team Odin Google Community</a> anytime during the week.</strong><br>
                </p>
            </div>

</div><!--end of studygroup-content -->

  <div style="clear:both"></div>
