<div class="studygroup-side pull-left" >
  <h3>The Ruby Track</h3>

  <p>This is a free weekly study group on Monday at a 10pm om Monday, but will also present an earlier event for any 'Europeans or non standard US timezones individuals' who would like to join. We will be working through The Odin Project <%= link_to "curriculum", "http://www.theodinproject.com/courses" %> from beginning to end. If I can get at least 10 committed individuals for </p>

  <p>During the week, we will be working through the curriculum 
  independently, and completed projects are due on the date of our next meeting. During our study group meetings, we can show our completed projects, discuss questions, and keep each other motivated.</p>

  <p>I'm a Ruby Newbie. But if you have more experience please feel free to join up, it will be greatly appreciated. The final schedule is posted and will be mirror the curriculum structure and be completed within 10 weeks depending on everyone's pace.</p>
  <p>I have personally completed several tutorials in Rails(framework for Ruby), but I am looking to increase my increase my experience with the Ruby Lang and looking for anyone else who is interested learning Ruby with me.</p>

  <p> Note: Yes, there are two hangouts and will be as long as I can get 12 rsvps for the Daytime event, so please invite anyone who is interested. </p>

  <p><strong><%= link_to "Add me to your G+ circles!", "https://plus.google.com/u/0/102551882338253835993/posts"%></strong> <stong>deadline</strong> will be Tuesday 4/22/14</p>

  <strong><p>Featured Ruby Newbie: <a href="https://twitter.com/brianllamar">Brian</a></p></strong>
  <strong><p>The assistant: <a href="https://plus.google.com/b/102551882338253835993/102551882338253835993/posts">"Accepting Applicants!!!"</a></strong> If would like to assists in notes or provide regular input.</p>

  <h4>Prerequisites</h4>
   <ul>
     <li>Be familiar enough the info in the Web 101 track and possibly Git. If you're not, 
     at least read through the first section of
       <%= link_to "Web Dev 101 ", "http://www.theodinproject.com/courses/web-development-101/lessons" %>
       sections.
     </li>
     <li>Read and finish the   
       <%= link_to "course intro", "http://www.theodinproject.com/courses/ruby-on-rails/lessons/how-this-course-will-work" %>.
     </li>
   </ul>

  <h4>Schedule</h4>

  <p>Mondays at 12pm and 10pm est </p>

  <iframe src="https://www.google.com/calendar/embed?src=9ciuegse13t8j292s6iimu5oto%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>


<!-- **************** WEEKS **************** -->
<div class="studygroup-content pull-left" >
  
  <!-- WEEK -->

  <h3>Week 0 Study Group Meeting</h3>
  <p><strong>Date: </strong>Monday April 27nd, 2014<br>
  <strong>Time: </strong>10:00pm 'Night' EST (GMT-2am) or 12:00pm 'Day' EST (GMT-4pm)<br>
  <strong>Project Due: </strong><%= link_to "Nothing this week, just come say hello and skim through coursework", "http://www.theodinproject.com/ruby-programming" %><br>
  <strong>Location: </strong><%= link_to "Night - Google Hangout", "https://plus.google.com/u/0/b/102551882338253835993/events/c8e60qqs4f7ei5qu1pr51ga913g" %> or <%= link_to "Day - Google Hangout", "https://plus.google.com/u/0/b/102551882338253835993/events/cponvt5s56jgst6p09acbmgfdl4" %><br>
    A link to join the meeting will be posted on the hangout page 15 mins prior on Monday. This will be our first meeting and will be an introduction to the group. Please stop by and say hello.</p>

  <h4>Week 0 Curriculum</h4>
  <p>April 28th 2014<br>
    <strong>Project Due:</strong> Read "<%= link_to "How This Course Will Work", "http://www.theodinproject.com/ruby-programming/how-this-course-will-work:" %>"<br/>
    <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cmv65qujljba9bcqcqhp5j502p0" %><br>
  <p>The purpose of this first meeting is to get aquainted with one another and have an idea on where everyone is with their learning. Experience and Newbies are welcomed.</p>
  </div>     
  <!-- .studygroup-content -->
  <div style="clear:both"></div>