 <div class="studygroup-side pull-left" >   <!-- changed #side to .studygroup-side -->
  <h3>The Rails track!</h3>

  <p>We will be working through The Odin Project curriculum, 
    starting at the <%= link_to "Ruby on Rails section", "http://www.theodinproject.com/courses/ruby-on-rails/lessons" %>.
    We'll meet online weekly, go over our efforts, and help answer each others questions.</p>

    <strong><p>Your fearless guide: <a href="https://github.com/afshinator">Afshin</a></p></strong>

   <h4>Prerequisites</h4>
   <ul>
     <li>Be comfortable with Git, HTML, CSS, javascript, and especially Ruby code.  If you're not, 
     then you'll want to go through 
       <%= link_to "Web Dev 101 ", "http://www.theodinproject.com/courses/web-development-101/lessons" %>
       and <%= link_to "Ruby ", "http://www.theodinproject.com/courses/ruby-programming/lessons" %>
       sections.
     </li>
     <li>Read and finish the   
       <%= link_to "course intro", "http://www.theodinproject.com/courses/ruby-on-rails/lessons/how-this-course-will-work" %>.
     </li>
   </ul>
    
  <p>Compared to a lot of other Rails tutorials, the Odin Rails curriculum covers a wider range of topics 
    - for good reason.  We want to be able to implement our own app ideas, not just follow a cookie-cutter
    recipe.  
   </p>
   
   <h4>Study-group Goals</h4>
   <ul>
     <li>Meet at least weekly to discuss efforts, problems, and their solutions,</li>
     <li>Keep schedule flexible based on participants needs,</li>
     <li>Provide extra value by providing info form outside the curriculum,</li>
     <li>Comradery, and inspiration from fellow devs on the same track,</li>
     <li>and more!</li>
   </ul>
     
  <h4>Schedule</h4>
   <p>The regular weekly hangouts started in March 2014 and were ongoing 'till the end of May.  We'll continue to have less regularly planned pairing sessions while we work on the final project.  You're encouraged to start a new studygroup or continue this one if you'd like.  
    <a href="https://www.youtube.com/channel/UCqyPNkR5uBoeLcPBrlRRrog" target="_blank">Videos</a> and 
    <a href="https://github.com/afshinator/OdinRailsStudyGroup" target="_blank">transcripts with notes</a>
    from past sessions are available.
   </p>
   
  <hr> 
  <iframe src="https://www.google.com/calendar/embed?src=j5puq94em1bc331co9g080ocis%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>   
   
   
</div><!-- .studygroup-side -->  

<div class="studygroup-content pull-left" >
  <p>Click below for details about each studygroup session, with links to video.  For transcripts, visit
    <a href="https://github.com/afshinator/OdinRailsStudyGroup" target="_blank">
    the courses github page</a>.
  </p>
  <!-- If you want to copy & paste accordion code below, make sure to set id="ror-accordion" to your own, 
        and also give unique id's to href="..." line and its corresponding id.   
  -->
  <div class="accordion" id="ror-accordion">

 <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapse12">
          Week 12 Study Group Conclusion
        </a>
      </div>
      <div id="ror-collapse12" class="accordion-body collapse in">
        <div class="accordion-inner">
          <p><strong>Date:</strong> Sunday May 25, 2014<br>
            <strong>Time: </strong>7:30pm PDT (GMT-7)<br>
            <br><strong>Location: </strong><%= link_to "Week 12 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/cpg0ot3a2fpf035sc42jhqgjivc", :target => "_blank" %>
            <br><small>Check above link right before 7:30 to join the live hangout or just watch.
            <br>Vist the <%= link_to "studygroup page", "https://plus.google.com/u/0/b/112041900311777032328/112041900311777032328/posts", :target => "_blank" %> for mid-week discussions.</small>
          </p>
          <p>If you've been following along with the group, you should be pretty much finished with the Hartl tutorial.   
            You should also be towards the end of the Odin project's Rails curriculum.  
            This will be the last regular weekly hangout session and we'll talk about the final project(s), and whats next.
          </p>
        </div>
      </div>
    </div>    


    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapse11">
          Week 11 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapse11" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><strong>Date:</strong> Sunday May 18, 2014<br>
            <strong>Time: </strong>7:30pm PDT (GMT-7)<br>
            <br><strong>Location: </strong><%= link_to "Week 11 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/cgfsppt91uk1aqk4ppdp8bbp3bk", :target => "_blank" %>
            <br><small>Check above link right before 7:30 to join the live hangout or just watch.
            <br>Vist the <%= link_to "studygroup page", "https://plus.google.com/u/0/b/112041900311777032328/112041900311777032328/posts", :target => "_blank" %> for mid-week discussions.</small>
          </p>
          <p>This week we'll be going over the 
            <%= link_to "Forms section from the curriculum", "http://www.theodinproject.com/ruby-on-rails/forms", :target => "_blank" %>,
            get into authentication, and possibly discuss associations some more.   As always, your input is welcome.
          </p>
        </div>
      </div>
    </div>    
    
    
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseTen">
          Week 10 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseTen" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><strong>Date:</strong> Sunday May 11, 2014<br>
            <strong>Time: </strong>7:30pm PDT (GMT-7)<br>
            <br><strong>Location: </strong><%= link_to "Week 10 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/c7922o5ukfb1o86gm3ck7shefb0", :target => "_blank" %>
            <br><small>Check above link right before 7:30 to join the live hangout or just watch.
            <br>Vist the <%= link_to "studygroup page", "https://plus.google.com/u/0/b/112041900311777032328/112041900311777032328/posts", :target => "_blank" %> for mid-week discussions.</small>
          </p>
          <p>
            This week is all about Active Record, in the <%= link_to "curriculum,", "http://www.theodinproject.com/ruby-on-rails/active-record-basics" %>
            and in the <%= link_to "Rails Guides", "http://edgeguides.rubyonrails.org/active_record_basics.html", :target => "_blank" %>
            .  Hopefully you'll have tackled the <%= link_to "Micro-Reddit", "http://www.theodinproject.com/ruby-on-rails/building-with-active-record" %> 
            project.
          </p>
          <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week10-transcript.md" target="_blank">
            Week 10 transcript & notes</a>
            <br><a href="https://www.youtube.com/watch?v=K0TNUXOj0y0" target="_blank">
            Week 10 Video</a>
            </small>
          </p>          
        </div>
      </div>
    </div>
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseNine">
          Week 9 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseNine" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><strong>Date:</strong> Sunday May 4, 2014<br>
            <strong>Time: </strong>7:30pm PDT (GMT-7)<br>
            <br><strong>Location: </strong><%= link_to "Week 9 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/cn2rt5i96frpjafc2pt6b1d064c", :target => "_blank" %>
            <br><small>Check above link right before 7:30 to join the live hangout or just watch.
            <br>Vist the <%= link_to "studygroup page", "https://plus.google.com/u/0/b/112041900311777032328/112041900311777032328/posts", :target => "_blank" %> for mid-week discussions.</small>
          </p>
          <p>
            After a brief hiatus last Sunday, we're jumping back into the saddle this week.  We're going to 
            dive right into databases.  Read <a href="http://www.theodinproject.com/ruby-on-rails/databases-and-sql" >Databases and SQL</a>          
            from the curriculum and get started on the next project.   Also, you should be on the last few 
            chapters of Hartl by now.
          </p>
        </div>
      </div>
    </div>
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseEight">
          Week 8 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseEight" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><strong>Date:</strong> Sunday April 27, 2014<br>
            <strong>Time: </strong>7:30pm PDT (GMT-7)<br>
            <br><strong>Location: </strong><%= link_to "Week 8 Google Hangout", "https://plus.google.com/b/112041900311777032328/events/c544trtobuv161eih0cedo1n9v4", :target => "_blank" %>
            <br><small>Check above link right before 7:30 to join the live hangout or watch.
            <br>Vist the <%= link_to "studygroup page", "https://plus.google.com/u/0/b/112041900311777032328/112041900311777032328/posts", :target => "_blank" %> for mid-week discussions.</small>
          </p>
          <p>It's 'Project: Basic Routes, Views and Controllers' week.  We should have read about the Asset Pipeline, and 
          lets be ready to talk about the two project due from the curriclum, like what front-end framework we chose 
          to implement instead of Bootstrap.  At this point we should be ready finish the last chapters of Hartl.
          </p>
          <p><small>The hangout for this day was cancelled.  So no video or transcript!
            </small>
          </p>          
        </div>
      </div>
    </div>
  
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseSeven">
          Week 7 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseSeven" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><strong>Date:</strong> Sunday April 20, 2014<br>
            <strong>Time: </strong>7:30pm PST (GMT-8)<br>
            <strong>Due on the 20th:</strong>
            <br><%= link_to "Views, from the curriculum", "http://www.theodinproject.com/ruby-on-rails/views", :target => "_blank" %>
            <br><%= link_to "(Edge) RailsGuides on Views", "http://edgeguides.rubyonrails.org/layouts_and_rendering.html", :target => "_blank" %>              
            <br><%= link_to "Hartl Tutorial - Chpts 8,9", "http://ruby.railstutorial.org/chapters/sign-in-sign-out#top", :target => "_blank" %>                 
            <br><strong>Location: </strong><%= link_to "Week 7 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/cfamipv7hd0eun968pm2l2uid2s", :target => "_blank" %>
            <br><small>Check above link right before 7:30 to join the live hangout or watch.</small>
          </p>
          <p>Our focus this week will be on views.  Regular participants should be around Chapter 8 of the Hartl 
          tutorial and finished with the section on Views in the Odin curriculum.   We'll review some good stuff 
          around these things, explore more testing, and more...﻿
          </p>
          <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week7-transcript.md" target="_blank">
            Week 7 transcript & notes</a>
            <br><a href="http://www.youtube.com/watch?v=b6zrBYHTxTI&feature=share" target="_blank">
            Week 7 Video</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseSix">
          Week 6 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseSix" class="accordion-body collapse">
        <div class="accordion-inner">
            <p><strong>Date:</strong> Sunday April 13, 2014<br>
              <strong>Time: </strong>7:30pm PST (GMT-8)<br>
              <strong>Due on the 13th:</strong>
              <br><%= link_to "Controllers, from the curriculum", "http://www.theodinproject.com/ruby-on-rails/controllers", :target => "_blank" %>
              <br><%= link_to "(Edge) RailsGuides on Controllers", "http://edgeguides.rubyonrails.org/action_controller_overview.html", :target => "_blank" %>              
              <br><%= link_to "Hartl Tutorial - Chpts 5,6,7", "http://ruby.railstutorial.org/chapters/filling-in-the-layout#top", :target => "_blank" %>                 
              <br><strong>Location: </strong><%= link_to "Week 6 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/cnch154vkmr3d51ret7kb1ujh4o", :target => "_blank" %>
              <br><small>Check above link right before 7:30 to join the live hangout or watch.</small>
            </p>
            <p>We're kicking into high gear this week!  Aside from our focus on controllers,
              the goal is to finish chapters 5-7 in the Hartl tutorial.  During the hangout on
              Sunday we'll cover some issues around controllers, testing, and more.
            </p>
            <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week6-transcript.md" target="_blank">
              Week 6 transcript & notes</a>
              <br><a href="https://www.youtube.com/watch?v=-XI1KVtEsdY" target="_blank">
              Week 6 Video</a>
              </small>
            </p> 
        </div>
      </div>
    </div>
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseFive">
          Week 5 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">
            <p><strong>Date:</strong> Sunday April 6, 2014<br>
              <strong>Time: </strong>7:30pm PST (GMT-8)<br>
              <strong>Projects Due on the 16th:</strong>
              <br><%= link_to "Routing, from the curriculum", "http://www.theodinproject.com/ruby-on-rails/routing", :target => "_blank" %>
              <br><%= link_to "(Edge) RailsGuides on Routing", "https://github.com/rails/rails/blob/master/guides/source/routing.md", :target => "_blank" %>              
              <br><strong>Location: </strong><%= link_to "Week 5 Google Hangout", "https://plus.google.com/u/0/events/c5f8a60f33a0m092a3aug6r2kro", :target => "_blank" %>
              <br><small>Check above link right before 7:30 to join the live hangout or watch.</small>
            </p>
            <p>Basic routing is pretty straightforward and in the routing section of the Odin
              curriculum we get a great explanation of a lot of what we need to know about the subject.
              I found turning to the RailsGuides for more detail to be a bad
              learning experience!  The main thrust of the week 5 hangout will be to cover some 
              details about routing not in the curriculum and poorly covered in the RailsGuides.
            </p>
            <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week5-transcript.md" target="_blank">
              Week 5 transcript & notes</a>
              <br><a href="https://www.youtube.com/watch?v=r4_52h751HI" target="_blank">
              Week 5 Video</a>
              </small>
            </p>
        </div>
      </div>
    </div>
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseFour">
          Week 4 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
            <p><strong>Date:</strong> Sunday March 30, 2014<br>
              <strong>Time: </strong>7:30pm PST (GMT-8)<br>
              <strong>Project Due:</strong>
              <br><%= link_to "RESTClient", "http://www.theodinproject.com/ruby-on-rails/let-s-get-building", :target => "_blank" %>
              <br><%= link_to "Hartl's Chpts 3 & 4", "http://ruby.railstutorial.org/chapters/static-pages#top", :target => "_blank" %>              
              <br><%= link_to "Treehouse's Intro to RSpec", "http://blog.teamtreehouse.com/an-introduction-to-rspec", :target => "_blank" %>
              <br><strong>Location: </strong><%= link_to "Week 4 Google Hangout", "https://plus.google.com/u/0/events/c5j2kcpn7n0kitvg3138dnhnvg0", :target => "_blank" %>
              <br><small>Check above link right before 7:30 to join the live hangout or watch.</small>
            </p>
            <p>We'll go over the RESTClient project and look at some tests for it.              
              We'll follow up with the information on testing, go over the Treehouse article and
              any of the other articles related to testing that folks want to cover.
              We'll jump into Routing, and more!
            </p>
            <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week4-transcript.md" target="_blank">
              Week 4 transcript & notes</a>
              <br><a href="https://www.youtube.com/watch?v=ek5yLPW2W2U" target="_blank">
              Week 4 Video</a>
              </small>
            </p>
        </div>
      </div>
    </div>
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseThree">
          Week 3 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
            <p><strong>Date:</strong> Sunday March 23, 2014<br>
              <strong>Time: </strong>7:30pm PST (GMT-8)<br>
              <strong>Project Due:</strong>
              <br>Beginners : Chris Pine's online <a href="https://pine.fm/LearnToProgram/" target="_blank">Learn to Program</a> + Hartl Chapters 1 & 2
              <br>Advanced Beginners : Above + first 7 of <a href="http://testfirst.org/learn_ruby" target="_blank">Test First Ruby</a> with test rewrites.
              <br><strong>Location: </strong><%= link_to "Week 3 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/conkrmselq9mfr2e1ko9so9va58", :target => "_blank" %>
              <br><small>Check above link right before 7:30 to join the live hangout or watch.</small>
            </p>
            <p>This next week will be the last time we'll work on material not specific to Rails.  
              Hopefully you took the opportunity this last week to explore RSpec outside the context of Rails and 
              gained familiarity with some of those <a href="http://betterspecs.org/" target="_blank">best practices</a>.              
            </p>
            <p>We'll review our re-writes of some of the Test-first-Ruby tests, the ruby implmentations
              for the tests, and the other assignments including touching on the article and gem.
              I'll present some material I consider pretty crucial with regards to testing that is not
              in Hartl or some of the other common resources.  Time permitting, there will be other 
              little knick-knacks!  Bring your questions!
            </p>
            <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week3-transcript.md" target="_blank">
              Week 3 transcript & notes</a>
              <br><a href="https://www.youtube.com/watch?v=8as2mxkUu7c" target="_blank">
              Week 3 Video</a>
              </small>
            </p>  
        </div>
      </div>
    </div>    
  
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseTwo">
          Week 2 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
            <p><strong>Date:</strong> Sunday March 16, 2014<br>
              <strong>Time: </strong>7:30pm PST (GMT-8)<br>
              <strong>Project Due:</strong>
              <br>First-timers : "<%= link_to "How this course will work", "http://www.theodinproject.com/courses/ruby-on-rails/lessons/how-this-course-will-work" %>"
              <br>Second-timers : RailsGuides' project, Blogger2 
              <br><strong>Location: </strong><%= link_to "Week 2 Google Hangout", "https://plus.google.com/u/0/b/112041900311777032328/events/cbahvd12bla48abqqp3rf5vqi4o" %>
              <br><small>A link to join the meeting will be posted on above Hangout page right before meeting time.</small>
            </p>
            <p>Seems like there's going to be a bunch of new people.  We will probably backtrack 
              a bit and repeat much of Week 1, especially in regards to installation and environment setup.  
              We'll dive into some HTTP and REST, a little deeper than last time.  And more! ;-)<br>
              Those folks who were there the first week
              can share how long it took them to finish the RailsGuides project and Blogger2.  
            </p>
            
            <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup/blob/master/week2-transcript.md" target="_blank">
              Week 2 transcript & notes</a>
              <br><a href="https://www.youtube.com/watch?v=6wg4DbSWzSs" target="_blank">
              Week 2 Video</a>
              </small>
            </p>
        </div>
      </div>
    </div>
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#ror-accordion" href="#ror-collapseOne">
          Week 1 Study Group Meeting
        </a>
      </div>
      <div id="ror-collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
            <p><strong>Date:</strong> Sunday March 9, 2014<br>
              <strong>Time: </strong>7:30pm PST (GMT-8)<br>
              <strong>Project Due:</strong> Read "<%= link_to "How this course will work", "http://www.theodinproject.com/courses/ruby-on-rails/lessons/how-this-course-will-work" %>"<br>
              <strong>Location: </strong><%= link_to "Week 1 Google Hangout", "https://plus.google.com/events/cmv65qujljba9bcqcqhp5j502p0" %><br>
            </p>
              <p>
              <strong>This first meeting will be mostly a meet-and-greet, and orientation.</strong>
              Some of us have already built some stuff with Rails, some of us don't yet know the difference 
              between Rails and Ruby; I expect a variety of levels.  Come one, come all.
            </p>
            <p>
              This first week lets go through an exploration of our installation and
              dev environment options, some talk around what we'd all like to get out of the course,
              what kind of time and effort we're willing and able to put into it, and anything else folks
              want to cover.
            </p>
            <p><small><a href="https://github.com/afshinator/OdinRailsStudyGroup" target="_blank">
              Week 1 transcript & notes</a>
              <br><a href="http://www.youtube.com/watch?v=5GcvIf-sFe4" target="_blank">
              Week 1 Video</a>
              </small>
            </p>
        </div>
      </div>
    </div>
    
  </div>  <!-- end of accordion div -->
  
  <hr>

  <p><strong>Stop by the <a href="https://plus.google.com/u/0/b/112041900311777032328/communities/100013596437379837846" target="_blank">
    Team Odin Google Community</a> anytime during the week.</strong><br>
  </p>
            
</div>     <!-- .studygroup-content -->
<div style="clear:both"></div>
