<div class="studygroup-side pull-left" >
  <h3>Web Dev 101 (Ended)</h3>

  <p>This free weekly study group met on Sundays at 6pm PST. We worked through The Odin Project's <%= link_to "Web Development 101 Course", "http://www.theodinproject.com/web-development-101" %> from beginning to end.</p>

  <p>During the week, we worked through the curriculum 
  independently, and completed projects were due on Sunday at our meeting. During our study group meetings, we showed off our completed projects, discussed questions, and kept each other motivated.</p>

  <p>This study group is kept here in case people want to have an example of a week-to-week schedule to progress through the curriculum.</p>

  <strong><p>Your fearless guide: <a href="https://github.com/gorchov">Joshua</a></p></strong>
  <strong><p>Your mad scientist assistant: <a href="https://github.com/eriktrautman">Erik</a></p></strong>

  <!-- h4>Schedule</h4>

  <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=8qgaetcsdbvslb5s9k9sm15598%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="600" frameborder="0" scrolling="no"></iframe> -->

</div>


<!-- **************** WEEKS **************** -->
<div class="studygroup-content pull-left" >

  <!-- WEEK -->
  <h3>Week 10 Study Group Meeting</h3>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, April 20, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm PST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish the last lessons in the <a href="http://www.theodinproject.com/web-development-101/">Web Development 101 Curriculum!!!</a>.
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cl645kmld5e37u18ddjjsi6812c" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:55pm PST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    This is it! You've probably still got some work to do on the Rails projects but this is the last week so we're officially finishing everything.  The last lessons are primarily reading and good context to send you on your way with, so get those done.  I realize this meeting is on Easter Sunday so it may be sparsely attended but just drop in if you've got questions around the last Rails stuff or the final few lessons of reading.  Otherwise, if you're new to this stuff and want to start over, Tatiana's got a new track starting up right after this one finishes so check it out!
  </p>
  <div class="rule"></div>



  <!-- WEEK -->
  <h4>Week 9 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, April 13, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm PST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish through the <a href="http://www.theodinproject.com/web-development-101/ruby-on-rails">Rails Project ("Jumpstart Blogger")</a>.
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cfek9ovekip05ss0ktdjua1ei7g" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:55pm PST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    It's a tough week this week so I hope you've gotten a head start -- we'll be doing all the lessons up to the Jumpstart Blogger tutorial in Ruby on Rails. For some, it may be your first taste of Rails.  It'll be challenging at first because I'm intentionally throwing a lot at you.  We can debug your issues in the study group.
  </p>
  <div class="rule"></div>




  <!-- WEEK -->
  <h4>Week 8 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, April 6, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm PST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish through the <a href="http://www.theodinproject.com/web-development-101/ruby">Ruby Project ("Test-First Ruby")</a>.
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cvcupr4107ga4qfjaa2jshegqv0?partnerid=gplp0" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:55pm PST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    This week you get a chance to do some Test-First Ruby, which both gives you exposure to testing and will challenge your understanding of the language like hasn't happened yet so far.  Next week we'll move into frameworks and, specifically, get you your first taste of Ruby on Rails.
  </p>
  <div class="rule"></div>


  <!-- WEEK -->
  <h4>Week 7 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, March 30, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm PST (GMT-7)
    </p>
    <p>
      <strong>Homework Due: </strong>Finish the <a href="http://www.theodinproject.com/web-development-101/ruby-basics">Ruby Basics lesson</a>, which includes the <a href="http://rubymonk.com/learning/books/1">Ruby Monk tutorials</a> and the Project Euler problems (which you've already done in Javascript).
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/c7mskcg1l1r1pc0hu1daoobsuq8" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    March 23 - March 30, 2014
  </p>
  <p>
    We'll finish up the "learning" part of Ruby this week by closing the book on Chris Pine and the Ruby Monk.  Next week we'll move into testing and the project (<a href="http://www.theodinproject.com/courses/web-development-101/lessons/ruby">Test-First Ruby Project</a>).
  </p>


  <!-- WEEK -->
  <div class="rule"></div>
  <h4>Week 6 Study Group Meeting</h4>
  <div class="sg-logistics">
    <p>
      <strong>Date: </strong>Sunday, March 23, 2014
    </p>
    <p>
      <strong>Time: </strong>6:00pm PST (GMT-7)
    </p>
    <p>
      <strong>Project Due: </strong>Chris Pine's <%= link_to "Learning to Program", "http://pine.fm/LearnToProgram/?Chapter=00" %>, ch 1-10 problem solutions.
    </p>
    <p>
      <strong>Extra Credit: </strong>Finish the <a href="http://rubymonk.com/learning/books/1">Ruby Monk tutorials</a> or even get started on the <a href="http://www.theodinproject.com/courses/web-development-101/lessons/ruby">Test-First Ruby Project</a>
    </p>
    <p>
      <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/cl5d2lc8p5cfp1v3ftt04njo10s" %><br>
      <em>*** A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday. ***</em>
    </p>
  </div>

  <h4>What We'll Cover</h4>
  <p>
    March 17 - March 23, 2014
  </p>
  <p>
    Because we didn't have a real meeting last week, consider this a reprieve and some extra time to work on Ruby!  The homework assignment is still chapters 1 - 10 in Chris Pine's book but you can hopefully also dive into the Ruby Monk lessons listed in the <a href="http://www.theodinproject.com/courses/web-development-101/lessons/ruby-basics">Ruby Basics</a> lesson.
  </p>
  <p>
    On Sunday we will review any questions you have about Chris Pine's book, the Ruby Monk tutorials, and look ahead to the Test-first project which will be done the following week.
  </p>



  <!-- WEEK -->
  <div class="rule"></div>

  <h4>Week 5 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, March 16, 2014<br>
  <strong>Time: </strong>6:00pm PST (GMT-8)<br>
  <strong>Project Due: </strong>Complete Chris Pine's <%= link_to "Learning to Program", "http://pine.fm/LearnToProgram/?Chapter=00" %>, chapters 1 - 10 problem solutions.<br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/c3rpsof2nbo62cbqau3o14581d0" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday.</p>

  <h4>Week 5 Curriculum</h4>
  <p>March 10 - March 16, 2014<br>
  <p>Drop and give me chapters 1 - 10. This week we're working through Chris Pine's Learning to Program, chapters 1 -10. We have a week to read and solve the problems, which works out to about 2 chapters per day. On Sunday we can review our code together.﻿</p>

  

  <!-- WEEK -->
  <div class="rule"></div>

  <h4>Week 4 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, March 9, 2014<br>
  <strong>Time: </strong>6:00pm PST (GMT-8)<br>
  <strong>Project Due: </strong>Javascript Project<br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/c3rpsof2nbo62cbqau3o14581d0" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday.</p>
  <h4>Week 4 Curriculum</h4>
  <p>March 3 - March 9, 2014<br>
  <p>This week's mission is to complete the <%=link_to "Javascript 101", "http://www.theodinproject.com/courses/web-development-101/lessons/javascript-basics" %> and <%= link_to "jQuery 101", "http://www.theodinproject.com/courses/web-development-101/lessons/jquery-basics" %> lessons.</p>
  <p>Complete the <%= link_to "Javascript/jQuery Etch-a-Sketch assignment", "http://www.theodinproject.com/courses/web-development-101/lessons/javascript-and-jquery" %>. Add your answers to the Student Solutions section using git/github if you'd like.</p>



  <!-- WEEK -->
  <div class="rule"></div>

  <h4>Week 3 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, March 2, 2014<br>
  <strong>Time: </strong>6:00pm PST (GMT-8)<br>
  <strong>Project Due: </strong>Project Euler Solutions<br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cs5h1uvghmpkunsqoam5m5866kc" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday.</p>
  <h4>Week 3 Curriculum</h4>
  <p>February 24 - March 2, 2014<br>
  <p>This week's mission is to complete the <%=link_to "Javascript 101", "http://www.theodinproject.com/courses/web-development-101/lessons/javascript-basics" %> lesson.</p>
  <p>Complete the Project Euler assignment. Add your answers to the Student Solutions section using git/github if you'd like.</p>



  <!-- WEEK -->
  <div class="rule"></div>

  <h4>Week 2</h4>
  <p>If you missed last week's meeting and are still interested in climbing aboard, now is the time! Everyone was still getting up to speed at last week's study group, so we extended the first project through this week.</p>

  <p>For many, this looks like review. But it's trickier than it looks and takes longer than you might expect, so start early and work every day.</p>

  <h4>Week 2 Study Group Meeting</h4>
  <p><strong>Date: </strong>Sunday, February 23, 2014<br>
  <strong>Time: </strong>6:00pm PST (GMT-8)<br>
  <strong>Project Due: </strong><%= link_to "HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/c0okmq1popkr2totcr208k5aphs" %><br>
    A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday.</p>

  <p><strong>Note: </strong>There are 10 spots available in the interactive chat. We will be cycling participants in and out of the interactive chat to go over the project and questions. If you can't get into the interactive chat because it's full, you can watch the study group live, until a spot opens up for you.</p>  

  <p>Please wear headphones to avoid crazy echo madness.</p>

  <p>If you try to enter the interactive chat and get a Google server error, copy the link to the chat to your clipboard, log out of Google, paste the url into your browser and go to it, Google will ask for your password, then it should let you in.</p>

  <p>If that doesn't work, try the same steps in another browser.</p>

  <h4>Week 2 Curriculum</h4>
  <p>February 17 - February 23, 2014<br>
  <%= link_to "HTML and CSS Basics", "http://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics" %></p>

  

  <!-- WEEK -->
  <div class="rule"></div>

  <h4>Week 1 Study Group Meeting</h4>
  <p><strong>Date: </strong>February 16, 2014<br>
  <strong>Time: </strong>6:00pm PST (GMT-8)<br>
  <strong>Project Due: </strong><%= link_to "HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
  <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/co5h59n83chanvesvgkuu9s26c4" %><br>
    A link to join the meeting will be posted on the hangout page at 5:50pm on Sunday.</p>

  <h4>Week 1 Curriculum</h4>
  <p>February 9 - February 15, 2014<br>
  <%= link_to "HTML and CSS Basics", "http://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics" %></p>
</div>     <!-- .studygroup-content -->
<div style="clear:both"></div>