<div class="StaticPagesController">
  <div class="container">
    
    <h1>About The Odin Project</h1>
  
    <p>
      Learning to code on your own sucks.  It's time consuming, difficult to stay motivated, and lonely.  To top it all off, you usually don't even know if you're learning the right stuff, whether the goal is to build the website you want, start a startup, or get a job as a web developer.
    </p>

    <p>
      The Odin Project is one of those "What I wish I had when I was learning" resources.  Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway.  This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.
    </p>

    <p>
      Because it's hard! It takes about 1,000 hours of work to go from zero to employable as a web developer.  The project aims to solve the biggest issues of that journey -- knowing what to learn and build and finding other students to learn with along the way.  
    </p>

    <h2>We Believe</h2>

    <ol>
      <li>
        <span class="belief-heading">You learn best by actually building things on your own computer</span> 
        <p>
          You can't just follow a bunch of online tutorials and expect to be a developer.  That's why we have a project-based curriculum that leaves you with a real portfolio of work on Github.
        </p>
      </li>
      <li>
        <span class="belief-heading">Education should be free and accessible to everyone</span> 
        <p>
          This curriculum itself is free and we tried to link to resources that are themselves free so anyone in the world can use them.
        </p>
      </li>
      <li>
        <span class="belief-heading">The best way to stay motivated is by working with other people</span>  
        <p>
          We're committed to connecting students together so they can stay motivated and learn faster.  Tools to do so are under development.
        </p>
      </li>
      <li>
        <span class="belief-heading">Open source is best</span>
        <p>
          Our curriculum is available on Github (under CC) and so is the source code for this website (under the MIT).  We encourage students and developers to contribute to both in an effort to make this even better.
        </p>
      </li>
    </ol>

    <h2>How it All Started</h2>

    <p>
      <a href="http://eriktrautman.com">Erik</a> decided it was time to learn web development in mid-2012 and immediately dove in with the fervor of an overmotivated geek tackling a new challenge.  
    </p>

    <p>
      He soon found that, though he was learning a lot of things very quickly, it didn't feel like he was getting much closer to his goal of becoming a functional web developer.  He also thought there was a whole lot missing from the experience of learning online, especially in terms of knowing which resources to use and being able to work with other people along the way.
    </p>

    <p>
      So he enrolled at an intensive coding bootcamp and got the chance to build projects with other students all day long for 9 weeks.  He liked the experience there so much that he decided to help them grow and improve their business for a while, but he was soon discouraged by seeing the sheer number of people who weren't able to take that same route and who were still out there struggling on their own.</p>

    <p>
      He decided that maybe it was possible to fix both of the problems he'd had before at the same time -- give people access to a free resource for learning to code AND help them find other beginners along the way.  If he could learn this stuff, he was determined to help others do the same.  Thus was born the Odin Project.
    </p>

    <p>
      The website is fully open source (<%= link_to "and students are currently helping to build it!", contributing_path %>) and the curriculum is freely available for noncommercial use.  Not just that, but this project is at the forefront of a powerful new movement to make software not just open source but also <em>Open Development</em> in order to make it as easy as possible for beginners to onboard to real life projects.  Every organizational meeting and most group coding sessions are <%= link_to "posted online", "https://plus.google.com/communities/100013596437379837846" %> and <%= link_to "recorded on YouTube", "https://www.youtube.com/channel/UCk0b0VTnJxXbxupXJ4D2yjQ" %>.  Check out our <%= link_to "Contributing Page", contributing_path %> to learn more and to see all the awesome people who have made significant contributions to the project.
    </p>
    <p>
      When lots of people help out, it means the project can stay current and meaningful to all future students who take its path.  It's a resource to everyone and a work in progress... so <%= link_to "please contribute!", contributing_path %>
    </p>

    <h2>Contact</h2>

    <p>
      If you have questions about The Odin Project itself, check out our <%= link_to "Contact Page", contact_path %>.
    </p>


  </div>
</div>