<% beliefs = [
  {
    short_text: 'Education should be free and accessible',
    description: 'This curriculum itself is free and we tried to link to resources that are themselves free so anyone in the world can use them.',
    image_path: 'about_page/img-education.svg',
    image_alt: 'book icon'
  },
  {
    short_text: 'You learn best by actually building',
    description: 'The Odin Project curriculum is full of projects that will help you build a strong portfolio of work on Github to fill out your resume.',
    image_path: 'about_page/img-build.svg',
    image_alt: 'keyboard icon'
  },
  {
    short_text: 'Motivation is fueled by working with others',
    description: 'We\'re committed to connecting students together so they can stay motivated and learn faster.',
    image_path: 'about_page/img-people.svg',
    image_alt: 'people icon'
  },
  {
    short_text: 'Open source is best',
    description: 'Our curriculum and website are available on Github and we encourage students to actually contribute to the project itself!',
    image_path: 'about_page/img-opensource.svg',
    image_alt: 'open source icon'
  }
] %>

<%= title('About') %>

<div class="StaticPagesController">
  <div id="about">
    <div class="container">
      <%= render 'static_pages/about/intro' %>

      <%= render 'static_pages/about/beliefs', beliefs: beliefs %>
    </div>

    <%= render 'static_pages/about/overview' %>

    <div class="container">
      <%= render 'static_pages/about/contact' %>
    </div>

    <div class="contribute">
      <%= render 'shared/bottom_cta',
        button: contribute_button,
        heading: 'Help the Odin Project stay current and meaningful to all future students, please contribute',
        sub_heading: ''
      %>
    </div>
  </div>
</div>
