<div id="home-page">
  <%= render 'shared/navbar' %>
<div class="nav-spacer"></div>
  <div class="hero gradient">
    <header>
      <h1 class="accent hero__main-heading"> Learn Web Development for Free </h1>
      <p class="secondary hero__sub-heading"> Stop wasting time...&nbsp;  Here's what you need to know. </p>
      <%= custom_button %>
    </header>
    <%= image_tag 'home-isometric.svg', class: 'hero__image', alt: 'home-page-banner' %>
  </div>

  <%= render 'static_pages/home/how_it_works' %>

  <%= render 'static_pages/home/curriculum', courses: @courses %>

  <%= render 'static_pages/home/success_stories' %>
</div>
