<%= content_for :title, title %>

<div id="home-page">

  <div class="above-the-fold">
    <div class="navbar">
      <div class="container narrow">
        <div class="logo-wrapper">
          <%= render :partial => "shared/logo_text" %>
        </div>
        <div class="menu-wrapper">
          <%= link_to "Curriculum", curriculum_path %> |
          <%= link_to "Login", login_path %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="container narrow">
      

      <div class="top-box-wrapper">
        <div class="top-box">
          <div class="headline">
            <h1>
              Learn Web Development for Free
            </h1>
          </div>
          <div class="subheading">
            <h2>
              Stop wasting time.  Here's what you need to know. 
            </h2>
          </div>
        </div>
      </div>

      <div class="cta-box-top-wrapper">
        <div class="cta-box-top">
          <p>
            <!-- Learn -->
          </p>
          <%= link_to lesson_path("introduction-to-web-development" ,"what-a-web-developer-does") do %>
            <button class="btn btn-success">
              Learn what a web developer does
            </button>
          <% end %>
          <p>
            <!-- Explore -->
          </p>  
          <%= link_to courses_path do %>
            <button class="btn btn-success">
              Explore the curriculum
            </button>
          <% end %>
          <p>
            ...or scroll down to learn more
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="container narrow">

    <div class="social-buttons">
      <%= render "shared/social" %>
    </div>

    <div class="what-its-about">

      <h2>Okay, what's this all about?</h2>
      <h4>
        Basically, this is the resource we wish we'd had when we were learning on our own.  So we stitched together a curriculum from the best resources we could find online and here it is. This project is about:
      </h4>

      <div class="about-panels">

        <div class="about-panel">
          <div class="img-wrapper">
            <img src="#" title="Having a Path">
          </div>
          <h3>
            Having a Path
          </h3>
          <p>
            This is a proven path to successfully learn web development so you don't have to wonder if you're doing the right stuff or wasting your time.
          </p>
        </div>

        <div class="about-panel">
          <div class="img-wrapper">
            <img src="#" title="Having a Path">
          </div>
          <h3>
            Building a Portfolio
          </h3>
          <p>
            The best way to learn and get hired is to have a portfolio of work so we've laid out great projects to build along the way
          </p>
        </div>

        <div class="about-panel">
          <div class="img-wrapper">
            <img src="#" title="Having a Path">
          </div>
          <h3>
            Learning Together
          </h3>
          <p>
            We're trying to make it easty to find and work with other students so you don't have to go it alone anymore.
          </p>
        </div>
        
        <div class="clearfix"></div>

      </div>
    </div>


    <div class="what-youll-learn section">
      <h2>
        What You'll Learn
      </h2>

      <div class="course-panels">

        <a href="<%= course_path('introduction-to-web-development') %>">
          <div class="course-panel p1">
            <div class="img-wrapper">
              <img src="#" title="Introduction to Web Development">
            </div>

            <div class="copy-wrapper">
              <h3>
                Introduction to Web Development
              </h3>
              <p>
                A brief introduction to the practice and career of web development
              </p>
            </div>
          </div>
        </a>

        <a href="<%= course_path('web-development-101') %>">
          <div class="course-panel p2">
            <div class="img-wrapper">
              <img src="#" title="Web Development 101">
            </div>

            <div class="copy-wrapper">
              <h3>
                Web Development 101
              </h3>
              <p>
                Learn the basics of all the technologies you need to build websites
              </p>
            </div>
          </div>
        </a>

        <a href="<%= course_path('ruby-programming') %>">
          <div class="course-panel p3">
            <div class="img-wrapper">
              <img src="#" title="Ruby Programming">
            </div>

            <div class="copy-wrapper">
              <h3>
                Ruby Programming
              </h3>
              <p>
                Learn programming fundamentals in Ruby, the language built for programmer happiness
              </p>
            </div>
          </div>
        </a>

        <!-- <a href="<%= course_path('ruby-on-rails') %>"> -->
          <div class="course-panel p4">
            <div class="img-wrapper">
              <img src="#" title="Ruby on Rails">
            </div>

            <div class="copy-wrapper">
              <h3>
                Ruby on Rails
              </h3>
              <p>
                Learn to rapidly develop and deploy websites using Ruby on Rails
              </p>
            </div>
          </div>
        <!-- </a> -->

        <!-- <a href="<%= course_path('html5-and-css3') %>"> -->
          <div class="course-panel p5">
            <div class="img-wrapper">
              <img src="#" title="HTML5 and CSS3">
            </div>

            <div class="copy-wrapper">
              <h3>
                HTML5 and CSS3
              </h3>
              <p>
                Dive deeper and understand how to really make your websites look good
              </p>
            </div>
          </div>
        <!-- </a> -->

        <!-- <a href="<%= course_path('javascript-and-jquery') %>"> -->
          <div class="course-panel p6">
            <div class="img-wrapper">
              <img src="#" title="Javascript and jQuery">
            </div>

            <div class="copy-wrapper">
              <h3>
                Javascript and jQuery
              </h3>
              <p>
                Make your websites dynamic and smooth with Javascript and jQuery
              </p>
            </div>
          </div>
        <!-- </a> -->

        <!-- <a href="<%= course_path('getting-hired') %>"> -->
          <div class="course-panel p7">
            <div class="img-wrapper">
              <img src="#" title="Getting Hired">
            </div>

            <div class="copy-wrapper">
              <h3>
                Getting Hired
              </h3>
              <p>
                You've got the skills and the portfolio, now how do you get the job?
              </p>
            </div>
          </div>
        <!-- </a> -->
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="how-it-works section">
      <h2>How it Works</h2>
      <div class="clearfix"></div>
      <div class="panel-wrapper">
        <div class="panel">
          <div class="img-wrapper">
            <img src="#">
          </div>
          <h3>
            Learn
          </h3>
          <p>
            We'll point out the best videos, tutorials, blog posts, and courses on the web for learning each subject.
          </p>
        </div>

        <div class="panel">
          <div class="img-wrapper">
            <img src="#">
          </div>
          <h3>
            Build
          </h3>
          <p>
            You will build dozens of projects, from simple scripts to full programs and websites
          </p>
        </div>

      </div>

      <div class="work-together">
        <div class="img-wrapper">
          <img src="#">
        </div>
        <div class="copy-wrapper">
          <h3>
            Work with Other Students
          </h3>
          <p>
            Learning on your own sucks.  We've been there.  So we're building tools to help you connect with other students along the way so you can pair up on the projects or just work through those annoying bugs with someone else.
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="why-awesome section">
      <h2>
        Why This is Project Rocks
      </h2>
      <div class="panel-wrapper">
        <div class="panel">
          <div class="img-wrapper">
            <img src="#">
          </div>
          <h3>
            The Curriculum Lives
          </h3>
          <p>
            The curriculum is really flexible -- when a better way to learn something comes along we just use that instead!
          </p>
          <a href="https://github.com/TheOdinProject/curriculum">See it on Github >></a>
        </div>

        <div class="panel">
          <div class="img-wrapper">
            <img src="#">
          </div>
          <h3>
            Open Source is Best
          </h3>
          <p>
            Everything from the curriculum to the website is open source and available on Github.          </p>
          <a href="https://github.com/TheOdinProject/theodinproject">See it on Github >></a>
        </div>

        <div class="panel">
          <div class="img-wrapper">
            <img src="#">
          </div>
          <h3>
            Build Your Own Tools
          </h3>
          <p>
            We actually encourage students to contribute to both the curriculum and the main website to build what they use.
          </p>
          <%= link_to "Learn how to contribute >>", contributing_path %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    
    <div class="clear-div"></div>

    <div class="cta-bottom section">
      <%= link_to curriculum_path do %>
        <button class="btn btn-success">
          Check out the Curriculum
        </button>
      <% end %>
      <h4>
        You're at the bottom... nothing to see here...
      </h4>
    </div>

  </div>
</div>