<div id="home-page">
  <%= render 'shared/navbar' %>

  <header>
    <h1 class="text-center"> Learn Web Development for Free </h1>
    <h2 class="text-center"> Stop wasting time...&nbsp;  Here's what you need to know. </h2>
    <%= link_to 'Sign Up', sign_up_path(ref: 'homenav'), class: 'signup-cta' %>
  </header>

  <%= image_tag 'homepage-hero.jpg', class: 'homepage-hero', alt: 'home-page-banner' %>

  <%= render 'static_pages/home/how_it_works' %>

  <%= render 'static_pages/home/curriculum_details' %>

  <%= render 'static_pages/home/success_stories' %>
</div>
