<div id="home-page" class="tmp-container-spacer">
  <div class="hero gradient">
    <header>
      <h1 class="text-4xl font-light text-gold-500 mx-auto pb-4"> Your Career in Web Development Starts Here </h1>
      <div class="secondary hero__sub-heading">
        <p class="push-down">Our full stack curriculum is free and supported by a passionate open source community.</p>
        <% if Lesson.any? %>
          <%= link_to "Last Curriculum Update: #{time_ago_in_words(Lesson.most_recent_updated_at)} ago", github_link("curriculum/commits"), target: :_blank, class: "tracking-wide underline" %>
        <% end %>
      </div>

      <%= link_to 'View Full Curriculum', paths_url,  class: 'button button--primary' %>
    </header>
    <%= image_tag 'home-isometric.svg', class: 'hero__image', alt: 'home-page-banner' %>
  </div>

  <%= render 'static_pages/home/how_it_works' %>

  <%= render 'static_pages/home/curriculum', courses: @courses %>

  <%= render 'static_pages/home/success_stories', cache: true %>
</div>
