<%= content_for :title, title %>

<div id="home-page">
  <div class="container narrow">

    <div class="top-box">
      <div class="headline">
        <a href="http://theodinproject.github.io/curriculum/odin.html" title="Why Odin?">
          <%= image_tag "odin_big_silhouette.gif", :width => "180px" %>
        </a>

        <h1>
          Empowering Aspiring Developers <br> To Learn Together
        </h1>

      </div>

      <div class="subheading">

        <h2>
          <div class="emphasis">It sucks to learn web development on your own</div> 
          That's why The Odin Project offers free and open-source tools to get you started and working directly with other students.
        </h2>

        <%= render "shared/social" %>

      </div>
    </div>

    <hr>

    <div class="content curriculum">

      <h2>A Path Forward</h2>
      <h4>
        We've put together an open-source curriculum that uses existing resources and interesting projects to take you from absolutely zero experience and set you on the path towards serious web development.
      </h4>

      <a href="http://theodinproject.com/curriculum" title="The Odin Project Curriculum" class="button-link" onClick="_gaq.push(['_trackEvent', 'cta_buttons', 'view_curriculum', 'home_body']);">
        <button class="button">
          VIEW the Curriculum
        </button>
      </a>
    </div>
    
    <hr>

    <div class="content scheduler">

      <h2>A Place to Work with Other Students</h2>
      <h4>
        Building projects is awesome.  Working alone sucks.  Whether it's a homework assignment from an online course or one of the projects from our own curriculum, our scheduler tool lets you find other people who are working on the same stuff and set up a time to pair together on it.
      </h4>
      
      <a href=<%= "#{new_user_registration_path}" %> title="Sign Up" class="button-link" onClick="_gaq.push(['_trackEvent', 'cta_buttons', 'sign_up', 'home_body']);">
        <button class="button">
          SIGN UP to use the Scheduler
        </button>
      </a>

    </div>

    <hr>

    <div class="content source-code">
      <h2>An Open Source Project</h2>
      <h4>
        The source code for everything on this website, from the tools to the curriculum to this very page, is available on Github.  The best way to learn is to actually build stuff... so help actually build the tools you use by contributing!
      </h4>

      <a href="http://www.github.com/theodinproject/theodinproject" title="The Odin Project Curriculum" target="_blank" class="button-link" onClick="_gaq.push(['_trackEvent', 'cta_buttons', 'view_source_on_github', 'home_body']);">
        <button class="button">
          HELP OUT by Contributing
        </button>
      </a>

    </div>

    <hr>

    <div class="content community">
      <h2>A Community</h2>
      <h4>
        This is about more than just pairing people together on projects, it's meant to help you really connect with other students along the way.  Host an in-person meetup like <a href="http://www.meetup.com/Learn-Web-Development-Paired-Programming-in-SF/" title="San Francisco Meetup Group">ours in San Francisco</a> or help us build out the functionality for people to gather together online.
      </h4>

      <a href=<%="#{new_user_registration_path}" %> class="button-link" onClick="_gaq.push(['_trackEvent', 'cta_buttons', 'join_community', 'home_body']);">
        <button class="button">
          JOIN the Community
        </button>
      </a>

    </div>
  </div>
</div>