<div id="home-page">
  <%= render 'shared/navbar' %>
  <div class="gradient">
  <div class="nav-spacer"></div>
    <header>
      <h1 class="text-center"> Learn Web Development for Free </h1>
      <h2 class="text-center"> Stop wasting time...&nbsp;  Here's what you need to know. </h2>
      <%= link_to 'Sign Up', sign_up_path(ref: 'homenav'), class: 'signup-cta' %>
    </header>
    <div class="homepage-hero">
      <%= image_tag 'home-isometric.svg', class: 'homepage-hero-image', alt: 'home-page-banner' %>
    </div>
  </div>

  <%= render 'static_pages/home/how_it_works' %>

  <%= render 'static_pages/home/curriculum_details' %>

  <%= render 'static_pages/home/success_stories' %>
</div>
