<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='72501155-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<div id="home-page">
  <div class="hero gradient">
    <header>
      <h1 class="accent hero__main-heading"> Your Career in Web Development Starts Here </h1>
      <p class="secondary hero__sub-heading"> Our full stack curriculum is free and supported by a passionate open source community.</p>
      <% if params[:start_now] %>
        <%= link_to 'Start Now!', course_path("web-development-101"),  class: 'button button--primary' %>
      <% elsif params[:view_full] %>
        <%= link_to 'View full Curriculum', courses_path,  class: 'button button--primary' %>
      <% else %>
        <%= sign_in_or_view_curriculum_button %>
      <% end %>
    </header>
    <%= image_tag 'home-isometric.svg', class: 'hero__image', alt: 'home-page-banner' %>
  </div>

  <%= render 'static_pages/home/how_it_works' %>

  <%= render 'static_pages/home/curriculum', courses: @courses %>

  <%= render 'static_pages/home/success_stories' %>
</div>
