<%= content_for :title, "The Odin Project -- Scheduler" %>

<div class="container" id="scheduler">
  <h1>Start Programming Together</h1>

  <div class="row">
    <div class="span4">
      <!-- <a onclick="displayEvents()">Events</a> -->
      <h4>Tips and Instructions</h4>
      <br>
      <h5>What is this?</h5>
      <p>
        This is a simple tool that you can use to set up a remote pairing session with someone else who is working on the same project(s) as you.  
      </p>

      <h5>How Does it Work?</h5>
      <p>
        The calendar you are viewing now shows the availability of other people who are working on the same project(s) as you are.  Select 
        <% if current_user.content_buckets.empty? %>
          your first project(s)
        <% else %>
          new projects 
        <% end %>
        on your <%= link_to "preferences page", edit_user_pref_path %>.  How to use the calendar:
        <ol>
          <li>Add when you're available to the calendar.  Just click or drag to add availability.  The new event will be auto-populated with the information specified on your <%= link_to "account page", edit_user_registration_path %>.  You can edit this by clicking on it.</li>
          <li>Gray events represent when other users are available.  Click on these to get the contact information for these users.  If you find a time when you're both available, reach out to them directly via their email address and set up your pairing session!</li>
        </ol>
      </p>

      <h5>How do we Pair?</h5>
      <p>
        See <a href="http://curriculum.theodinproject.com/blob/master/pairing/pairing.md#how-do-we-pair">How do We Pair?</a> in our <a href="http://curriculum.theodinproject.com">Curriculum on Github</a>.  We recommend using ScreenHero for screen sharing and Skype for voice, but Google Hangouts is popular as well.
      </p>

      <h5>What's next?</h5>
      <p>
        This tool is under active development so we're hoping to roll out some new features in the next several weeks, all based on the feedback we receive from users!  It's <a href="https://github.com/TheOdinProject/theodinproject">open sourced on Github</a> if you're curious.  Right now the plan is:
      </p>
      <ol>
        <li> Improve the overall site UX </li>
        <li> Focus on improving user privacy by letting the tool handle most of the user scheduling stuff (whereas right now you're meant to reach out directly to the other person via email).</li>
        <li> Integrate with students' normal calendar workflow (e.g. their Google Calendar)</li>
        <li> <a href="mailto:project@theodinproject.com">Suggest something!</a></li>
      </ol>
    </div>

    <div class="span8">
      <h4>When are you available?</h4>
      <% if current_user.content_buckets.empty? %>
        <p class="warning">Tip: <%= link_to "select a project", edit_user_pref_path %> to see the availability of other people too!</p>
      <% else %>
        <p class="filters">Showing availability for: <strong>
          <%= current_user.content_buckets.map(&:name).join(", ") %></strong>
          <sup> <%= link_to "edit", edit_user_pref_path %></sup>
        </p>
      <% end %>

      <script>
        $(document).ready(function(){
          var date = new Date();
          var d = date.getDate();
          var m = date.getMonth();
          var y = date.getFullYear();

          var calendar = $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaWeek',
            ignoreTimezone: false,
            firstHour: 8,
            firstDay: (new Date()).getDay(),
            allDaySlot: false,
            editable: true,
            selectable: true,
            selectHelper: true,
            // glow events when rendered
            eventAfterRender: function(event, element){
              borderColor = $(element).css("border-color");
              $(element).css('border-color', 'black');
              $(element).animate({"border-color": borderColor}, 1000);
            },
            select: function(start, end, allDay) {
              // console.log($(this));
              var summary = "<%= current_user.username %>";
              var description = "";
              if(summary) {
                $.ajax({
                  url: "<%= cal_events_url %>",
                  type: "POST",
                  data: {
                    start: start,
                    end: end,
                    allDay: allDay,
                    summary: summary,
                    description: description
                  },
                  success: function(event){
                    // console.log("Success! Object is:");
                    // console.log(event);
                    calendar.fullCalendar(
                      'renderEvent',
                      {
                        id: event.id,
                        url: event.url,
                        title: summary,
                        start: start,
                        end: end,
                        allDay: allDay,
                        editable: event.editable,
                        description: description
                      }
                    );
                  },
                  error: function(a,b,c){
                    console.log("ERROR!!!!");
                    console.log(a);
                    console.log(b);
                    console.log(c);
                  }
                })
              }
              calendar.fullCalendar('unselect');
            },
            eventSources: [   
              {
                url: "<%= cal_events_url %>"
              }
            ],
            eventRender: function(event, element) {
              element.attr('data-id', event.id);
              if(event.editable){
                element.attr('href', 'javascript:void(0);');
                element.on("click", function(){
                  openEditEventModal(event); 
                });
              } else {
                element.attr('href', 'javascript:void(0);');
                element.on('click', function(){
                  openEventInfoModal(event); 
                });
              }
            },
            eventDrop: updateEvent,
            disableDragging: false,
            eventResize: updateEvent
          });

          // Add the time zone to the calendar
          var currentTZ = jstz.determine().name();
          var currentOffset = new Date().getTimezoneOffset()/60*(-1);
          $("td.fc-header-right").append("<div id='time-zone'>" + currentTZ + " ( GMT" + currentOffset + " )</div>" );

          // Listen for AJAX events and show loading icon
          $(document).ajaxStart(function () { 
            $("#ajax-load").fadeIn() 
          }).ajaxStop(function () { 
            $("#ajax-load").hide(); 
          });
        });



        // Open a modal window that displays the event's info
        function openEventInfoModal(event) { 
          // console.log(event);
          // console.log(event.title);

          // Populate the contact info section
          $(".contactInfo").html("<a href='" + event.creator_contact_url + "'> Email " + event.creator_name + "</a>")
          
          // Populate the description with info
          $(".eventInfo").html(event.description); 

          // Populate the listing of projects
          proj_display = "<ul>";
          event.projects.forEach(function(proj){
            proj_display += "<li>" + proj + "</li>";
          });
          proj_display += "</ul>"
          $(".projectList")
              .html(event.creator_name + " wants to work on:")
              .append(proj_display);

          // BUG PATCH from http://stackoverflow.com/questions/14488774/using-html-in-a-dialogs-title-in-jquery-ui-1-10
          // To allow html to not be escaped when inserted in a
          // dialog's title, is it is below.
          $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function(title) {
              if (!this.options.title ) {
                title.html("&#160;");
              } else {
                title.html(this.options.title);
              }
            }
          }));

          // Pop up the dialog
          $("#eventContent").dialog({ 
            modal: true, 
            width: 350,
            height: 300,
            title: "<a href='" + event.creator_profile_url+"'>" + event.title + "  --  <span class='view-profile-link'>click to view profile</span></a>" ,
            position: {my: "center", at: "center", of: $("#calendar") },
            open: function(event, ui) { 
              $(".ui-dialog-titlebar-close").text("X"); 
            },
            buttons: {
              "close": function(){
                // console.log($(this));
                $(this).dialog("close");
              }
            } 
          }); 
        };


        // Opens a form to input details for the newly created event
        function openEditEventModal(event){
          // console.log(event);
          
          // Populate it with info
          $("#edit-event-info").val("").val(event.description); 

          // Only enable the 

          // Pop up the dialog
          $("#edit-event-dialog-form").dialog({ 
            modal: true, 
            width: 350,
            height: 300,
            position: {my: "center", at: "center", of: $("#calendar") },
            title: event.title,
            open: function() { 
              $(".ui-dialog-titlebar-close").text("X"); 
              $('<a />', {
                'id': 'delete-link',
                text: 'Delete',
                href: 'javascript:void(0);'
              })
                .appendTo($(".ui-dialog-buttonpane"))
                .click(function(el){
                  // console.log($(this));
                  // console.log(event);
                  $.ajax({
                    url: event.url,
                    type: "DELETE",
                    success: function(){
                      $("#edit-event-dialog-form").dialog('close');
                      $("#calendar").fullCalendar('refetchEvents');
                      $("#calendar").fullCalendar('rerenderEvents');
                    },
                    error: function(a,b,c){
                      console.log("ERROR!!!!");
                      console.log(a);
                      console.log(b);
                      console.log(c);
                    }
                  });
                });
            },
            buttons: {
              "update": function(){
                event.description = $("#edit-event-info").val();
                updateEvent(event);
                $(this).dialog("close");
              },
              "close": function(){
                $(this).dialog("close");
              }
            } 
          }).bind('dialogclose',function(){
            $("#delete-link").remove(); // or it will show up on the other info modal!
          }); 

          // Set the update button to only highlight if changes made
          $('button:contains("update")')
              .prop("disabled", true)
              .addClass("ui-state-disabled");

          $('div#edit-event-dialog-form textarea').keyup(function(){
              $('button:contains("update")')
              .prop("disabled", false)
              .removeClass("ui-state-disabled");
          })


          $("#edit-event-info").blur();
          $('.ui-dialog :button').focus();
        }

        function displayEvents(){
          $("#calendar").fullCalendar('clientEvents').forEach(function(event){
            // console.log(event); 
          })
        }

        function updateEvent(event){
          calendar = $("#calendar");
          // console.log("TRYING TO UPDATE THE EVENT!!!");
          // console.log(event);
          $.ajax({
            url: event.url,
            type: "PUT",
            data: {
              start: event.start,
              end: event.end,
              allDay: event.allDay,
              summary: event.title,
              description: event.description
            },
            success: function(event){
              // console.log("Success! Object is:");
              // console.log(event);
              calendar.fullCalendar('rerenderEvents');
            },
            error: function(a,b,c){
              console.log("ERROR!!!!");
              console.log(a);
              console.log(b);
              console.log(c);
              calendar.fullCalendar('refetchEvents');
              calendar.fullCalendar('rerenderEvents');
            }
          });
        }

      </script>
      <style>
        #calendar {
          min-width: 600px;
          margin: 0 auto;
        }
        textarea#edit-event-info {
          width: 100%;
          height: 130px;
          margin-top: 10px;
        }
        #delete-link {
          margin-top: 10px;
          margin-left: 8px;
          display: inline-block;
        }
      </style>
      <div id='calendar'></div>

    </div>

  </div>

</div>

<div id="eventContent" title="Available" style="display:none;">
  <div class="contactInfo">
  </div>
  <div class="eventInfo">
  </div>
  <div class="projectList">
  </div>
</div>


<div id="edit-event-dialog-form" title="Create Availability" style="display: none;">
  <form>
  <fieldset>
    Enter your own description:<br>
    <textarea name="description" id="edit-event-info" class="text ui-widget-content ui-corner-all"></textarea>
  </fieldset>
  </form>
</div>

<div id="ajax-load">Loading...</div>

























