<div class="StaticPagesController">
    <div id="studygroup">
      <h1>Web Development Study Group</h1>
      <h2>Spring 2014 Session</h2>
      <div class="rule"></div>
      <div id="side">
        <h2>&nbsp;</h2>

        <p>This is a free weekly study group on Sundays at 6pm. We will be working through The Odin Project <%= link_to "curriculum", "http://www.theodinproject.com/courses" %> from beginning to end.</p>

        <p>During the week, we will be working through the curriculum 
        independently, and completed projects are due on Sunday at our meeting. During our study group meetings, we can show our completed projects, discuss questions, and keep each other motivated.</p>

        <p>Parts of the curriculum will appear to be review for some people. Parts of the curriculum will appear to be insurmountable for some people. We will steadily progress, nonetheless.</p>

        <h2>Schedule</h2>

        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=8qgaetcsdbvslb5s9k9sm15598%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="600" frameborder="0" scrolling="no"></iframe>

      </div>

      <div id="content">
        <h2>Week 3 Study Group Meeting</h2>
        <p><strong>Date: </strong>Sunday, March 2, 2014<br>
        <strong>Time: </strong>6:00pm PST (GMT-8)<br>
        <strong>Project Due: </strong>Project Euler Solutions<br>
        <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/cs5h1uvghmpkunsqoam5m5866kc" %><br>
          A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday.</p>

        <h2>Week 3 Curriculum</h2>
        <p>February 24 - March 2, 2014<br>
        <p>This week's mission is to complete the <%=link_to "Javascript 101", "http://www.theodinproject.com/courses/web-development-101/lessons/javascript-basics" %> lesson.</p>
        <p>Complete the Project Euler assignment. Add your answers to the Student Solutions section using git/github if you'd like.</p>

        <div class="rule"></div>

        <h2>Week 2</h2>
        <p>If you missed last week's meeting and are still interested in climbing aboard, now is the time! Everyone was still getting up to speed at last week's study group, so we extended the first project through this week.</p>

        <p>For many, this looks like review. But it's trickier than it looks and takes longer than you might expect, so start early and work every day.</p>

        <h2>Week 2 Study Group Meeting</h2>
        <p><strong>Date: </strong>Sunday, February 23, 2014<br>
        <strong>Time: </strong>6:00pm PST (GMT-8)<br>
        <strong>Project Due: </strong><%= link_to "HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
        <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/u/0/events/c0okmq1popkr2totcr208k5aphs" %><br>
          A link to join the meeting will be posted on the hangout event page at 5:50pm PST on Sunday.</p>

        <p><strong>Note: </strong>There are 10 spots available in the interactive chat. We will be cycling participants in and out of the interactive chat to go over the project and questions. If you can't get into the interactive chat because it's full, you can watch the study group live, until a spot opens up for you.</p>  

        <p>Please wear headphones to avoid crazy echo madness.</p>

        <p>If you try to enter the interactive chat and get a Google server error, copy the link to the chat to your clipboard, log out of Google, paste the url into your browser and go to it, Google will ask for your password, then it should let you in.</p>

        <p>If that doesn't work, try the same steps in another browser.</p>
      
        <h2>Week 2 Curriculum</h2>
        <p>February 17 - February 23, 2014<br>
        <%= link_to "HTML and CSS Basics", "http://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics" %></p>

        <div class="rule"></div>

        <h2>Week 1 Study Group Meeting</h2>
        <p><strong>Date: </strong>February 16, 2014<br>
        <strong>Time: </strong>6:00pm PST (GMT-8)<br>
        <strong>Project Due: </strong><%= link_to "HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
        <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/co5h59n83chanvesvgkuu9s26c4" %><br>
          A link to join the meeting will be posted on the hangout page at 5:50pm on Sunday.</p>
      
        <h2>Week 1 Curriculum</h2>
        <p>February 9 - February 15, 2014<br>
        <%= link_to "HTML and CSS Basics", "http://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics" %></p>
      </div>
      <div style="clear:both"></div>
    </div>  
</div>