<div class="settings-section">
  <h2 class="accent settings-section__heading">Password</h2>
  <div class="settings-card-content card-main">

    <div class="settings-card-content__edit-button--open"></div>

    <div class="settings-view">
      <p class="settings-view__label">Password</p>
      <p class="settings-view__item">*********</p>
    </div>

    <%= form_for @user, html: { class: "settings-view--hidden" }, remote: true do |form| %>

      <%= form.label :current_password, class: 'settings-view__label' %>
      <%= form.password_field :current_password, placeholder: 'Current Password', class: 'settings-view__input push-down'%>

      <%= form.label :password, class: 'settings-view__label' %>
      <%= form.password_field :password, placeholder: 'New Password', class: 'settings-view__input push-down'%>

      <%= form.label :password_confirmation, class: 'settings-view__label' %>
      <%= form.password_field :password_confirmation, placeholder: 'Confirm New Password', class: 'settings-view__input push-down'%>

      <%= form.submit "Update", class: "settings-view__button" %>
    <% end %>
  </div>
</div>
