<div class="settings-section">
  <div class="settings-card card-main">

    <h2 class="accent settings-card__heading text-2xl">Password</h2>
    <div class="settings-card__edit-button settings-card__edit-button--open"></div>

    <div class="settings-card__content">
      <div class="settings-view">
        <p class="form__element--non-editable">*******</p>
      </div>

      <%= form_for user,
        html: { class: 'form settings-view--hidden', id: 'password-update-form' },
        remote: true do |form|
      %>

        <div class="form__section">
          <%= form.label :current_password, class: 'form__label' %>
          <%= form.password_field :current_password,
            placeholder: 'Current Password',
            class: 'form__element'
          %>
        </div>

        <div class="form__section">
          <%= form.label :password, class: 'form__label' %>
          <%= form.password_field :password,
            placeholder: 'New Password',
            class: 'form__element'
          %>
        </div>

        <div class="form__section">
          <%= form.label :password_confirmation, class: 'form__label' %>
          <%= form.password_field :password_confirmation,
            placeholder: 'Confirm New Password',
            class: 'form__element'
          %>
        </div>

        <%= form.submit 'Update', class: 'button button--primary full-width' %>
      <% end %>
    </div>
  </div>
</div>
