<div class="settings-section">
  <div class="settings-card card-main">

    <h2 class="accent settings-card__heading text-2xl">Profile</h2>
    <div class="settings-card__edit-button settings-card__edit-button--open" data-test-id="user-edit-profile-btn"></div>

    <div class="settings-card__content">
      <div class="settings-card__picture">
         <%= render User::AvatarComponent.new(current_user: current_user, classes: 'w-32') %>
      </div>

      <div class="settings-view">
        <p class="form__label">Name</p>
        <p class="form__element form__element--non-editable username push-down" data-test-id="settings-view-username">
          <%= user.username %>
        </p>

        <p class="form__label">Email</p>
        <p class="form__element form__element--non-editable email push-down" data-test-id="settings-view-email">
          <%= user.email %>
        </p>
      </div>

      <%= form_for user,
        html: { class: 'form settings-view--hidden', id: 'profile-update-form' },
        remote: true do |form|
      %>

        <div class="form__section">
          <%= form.label :name, class: 'form__label' %>
          <%= form.text_field :username, class: 'form__element', data: { test_id: 'edit-username-input' } %>
        </div>

        <div class="form__section">
          <%= form.label :email, class: 'form__label' %>
          <%= form.email_field :email, class: 'form__element', data: { test_id: 'edit-user-email-field' } %>
        </div>

        <%= form.submit 'Update', class: 'button button--primary full-width', data: { test_id: 'edit-user-submit-btn' } %>
      <% end %>
    </div>
  </div>
</div>
