<div id="user_settings" class="gradient">
  <div class="container center-contents">
    <h1 class="text-center accent settings-section">Settings</h1>
    <div class="profile settings-section">
      <h2 class="accent bold">Profile</h2>
      <div class="settings-card profile-card">
        <div class="profile-pic align-items-center">
          <%= image_tag gravatar_url(@user, 100), alt: "Profile Pic"%>
        </div>
        <div class="profile-details">
          <div class="field">
            <p class="label bold">Name</p>
            <div class="value"><%= best_in_place @user, :username, as: :input %></div>
          </div>
          <div class="field">
            <p class="label bold">Email Address</p>
            <div class="value"><%= best_in_place @user, :email, as: :input %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="learning-goal settings-section">
      <h2 class="accent bold">Learning Goal</h2>
      <div class="settings-card profile-card">
        <div class="goal">
          <%= best_in_place @user, :learning_goal, as: :input, place_holder: "Click me to set a learning goal!"%>
        </div>
        <div class="spacer"></div>
        <div class="completion-date">
          Estimated Completion date: <%= best_in_place @user, :learning_goal_completion_date, as: :date, display_as: :format_completion_date %>
        </div>
      </div>
    </div>
    <div class="password-card settings-section">
      <h2 class="accent bold">Password</h2>
      <div class="password-card settings-card">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", required: false, label: false, placeholder: 'New Password' %>
            <%= f.input :password_confirmation, required: false, label: false, placeholder: 'Confirm New Password' %>
            <%= f.input :current_password, hint: "Enter your current password to confirm", required: true, label: false, placeholder: 'Old Password' %>
          </div>

          <%= f.button :submit, "Update"%>

        <% end %>
      </div>
    </div>
    <div class="notifications settings-section">
      <h2 class="accent bold">Notifications</h2>
      <div class="settings-card profile-card">
        Notification stuff goes here
      </div>
    </div>
    <div class="cancel-link text-center">
      <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>

</divclass="accent bold">
