<div id="devise-form" class="devise-sign-up gradient">
  <div class="container">
    <h1 class="text-center">Sign up</h1>
    <div class="card">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" } ) do |f| %>

        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="input-group">
            <span class="fa fa-user"></span>
            <%= f.input :username, label: false, required: true, placeholder: "Username", input_html: { class: "login user_username" } %>
          </div>
          <div class="input-group">
            <span class="fa fa-envelope"></span>
            <%= f.input :email, label: false, required: true, placeholder: "Email", input_html: { class: "login email" } %>
          </div>
          <% if f.object.password_required? %>
            <div class="input-group">
              <span class="fa fa-lock"></span>
              <%= f.input :password, :required => true, label: false, placeholder: "Password", input_html: { class: "login password" } %>
            </div>
            <div class="input-group">
              <span class="fa fa-lock"></span>
              <%= f.input :password_confirmation, :required => true, label: false, placeholder: "Password Confirmation", input_html: { class: "login password" }%>
            </div>
          <% end %>
          <!-- don't forget about our legal agreements checkbox! -->
          <%= render :partial => "devise/shared/legal_checkbox", :locals => {:f => f} %>
        </div>
        <!-- Check both cases of ternary operator -->
        <%= f.button :submit, "Sign up", :class => "sign-in-button page-buttons login" %>
      <% end %>
      <div class="in-between text-center"><span>OR</span></div>
      <%= render :partial => "shared/github_button", :locals => {:button_type => "Sign up"} %>
    </div>
    <h4 class="not-signed-up text-center">Have an account?</h4>
    <%= link_to "Login", new_session_path(resource_name), class: "sign-up-button text-center" %>
  </div>
</div>
