<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>

<body style="background-color: #fafafa; margin: 0 !important; padding: 0;">
  <center class="wrapper" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; table-layout: fixed; width: 100%;">
    <div class="webkit" style="margin: 0 auto 20px auto; max-width: 600px;">
      <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center">
<tr>
<td>
<![endif]-->

      <table class="padding-table" align="center" style="background-color: #fafafa; border-spacing: 0; color: #333333; font-family: sans-serif; margin: 0; max-width: 600px; vertical-align: bottom; width: 100%;">
        <tr>
          <td class="login-row" style="background-color: #fafafa; padding: 0; text-align: right;">
            <a href="http://theodinproject.com/login" class="login" style="padding: 0;">Login</a>
          </td>
        </tr>
      </table>
      <table class="outer" align="center" style="background-color: #ffffff; border: 1px solid black; border-spacing: 0; color: #333333; font-family: sans-serif; max-width: 600px; width: 100%;">
        <tr>
          <td class="full-width-image center" style="padding: 0; text-align: center;">
            <%=  image_tag attachments['logo.svg'].url, alt: 'home page banner' %>
              <p class="main-heading" style="color: #cc9543; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; margin: 10px 0 20px 0; vertical-align: center;">The Odin Project</p>
          </td>
        </tr>
        <tr>
          <td class="one-column" style="padding: 0;">
            <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
              <tr>
                <td class="contents inner camo-bg" style="background-color: #8e8e4c; padding: 10px; text-align: left; width: 100%;">
                  <p class="h1" style="color: #fff; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold; letter-spacing: 0.4px; text-align: center;">Getting Started with The Odin Project</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="one-column" style="padding: 0;">
            <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
              <tr>
                <td class="inner contents" style="padding: 10px; text-align: left; width: 100%;">
                  <p class="outro-text bold" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold;">Welcome to The Odin Project!</p>
                  <p class="outro-text" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">It's great to have you with us while you learn web development! It can be a bit overwhelming at first,
                    so to get you started here are a few tips:</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Dual colums row 1 -->
        <tr>
          <td class="left-sidebar" style="font-size: 0; padding: 0; text-align: left;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="100">
        <![endif]-->
            <div class="column left" style="display: inline-block; max-width: 45px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner" style="padding: 10px;">
                    <p class="number" style="color: #ce973e; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 38px; font-weight: bold; margin: 0 0 0 5px;">1</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td><td width="500">
        <![endif]-->
            <div class="column right" style="display: inline-block; max-width: 549px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner contents" style="padding: 10px; width: 100%;">
                    <p class="h3" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; letter-spacing: 0.3px; margin: 8px 0 16px 0; text-align: left;">Plan out your strategy</p>
                    <p class="h3-paragraph" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; text-align: left;">Figure out how much time each week you'll be able to devote to learning then browse through our
                      <%= link_to "roadmap of courses", curriculum_url %> and plan your strategy accordingly. The biggest issue students have is getting distracted (especially
                        since we link to so much juicy content), so staying focused is important.</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
          </td>
        </tr>

        <!-- Dual colums row 2 -->
        <tr>
          <td class="left-sidebar" style="font-size: 0; padding: 0; text-align: left;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="100">
        <![endif]-->
            <div class="column left" style="display: inline-block; max-width: 45px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner" style="padding: 10px;">
                    <p class="number" style="color: #ce973e; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 38px; font-weight: bold; margin: 0 0 0 5px;">2</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td><td width="500">
        <![endif]-->
            <div class="column right" style="display: inline-block; max-width: 549px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner contents" style="padding: 10px; width: 100%;">
                    <p class="h3" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; letter-spacing: 0.3px; margin: 8px 0 16px 0; text-align: left;">Dive into your first course</p>
                    <p class="h3-paragraph" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; text-align: left;">Get started! If you're brand spanking new to all this, start with
                      <%= link_to "Web Development 101", course_url("web-development-101") %>. Otherwise start whatever
                        <%= link_to "course", courses_url %> that interests you the most.</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
          </td>
        </tr>
        <!-- Dual colums row 3 -->
        <tr>
          <td class="left-sidebar" style="font-size: 0; padding: 0; text-align: left;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="100">
        <![endif]-->
            <div class="column left" style="display: inline-block; max-width: 45px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner" style="padding: 10px;">
                    <p class="number" style="color: #ce973e; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 38px; font-weight: bold; margin: 0 0 0 5px;">3</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td><td width="500">
        <![endif]-->
            <div class="column right" style="display: inline-block; max-width: 549px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner contents" style="padding: 10px; width: 100%;">
                    <p class="h3" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; letter-spacing: 0.3px; margin: 8px 0 16px 0; text-align: left;">Get help and work with others</p>
                    <p class="h3-paragraph" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; text-align: left;">We have a Discord server that you can join by visiting it
                      <%= link_to "here", 'https://discord.gg/hvqVr6d' %>. If you fill out your
                        <%= link_to "profile", user_url(@user) %>, it will help others who might want to get in touch with you in the meantime.</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
          </td>
        </tr>
        <!-- Dual colums row 4 -->
        <tr>
          <td class="left-sidebar" style="font-size: 0; padding: 0; text-align: left;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="100">
        <![endif]-->
            <div class="column left" style="display: inline-block; max-width: 45px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner" style="padding: 10px;">
                    <p class="number" style="color: #ce973e; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 38px; font-weight: bold; margin: 0 0 0 5px;">4</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td><td width="500">
        <![endif]-->
            <div class="column right" style="display: inline-block; max-width: 549px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner contents" style="padding: 10px; width: 100%;">
                    <p class="h3" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; letter-spacing: 0.3px; margin: 8px 0 16px 0; text-align: left;">Tell your friends!</p>
                    <p class="h3-paragraph" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; text-align: left;">If you find the project helpful, please spread the word. It's always more fun to learn with friends U+1F60A</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
          </td>
        </tr>


        <!-- Dual colums row 5 -->
        <tr>
          <td class="left-sidebar" style="font-size: 0; padding: 0; text-align: left;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="100">
        <![endif]-->
            <div class="column left" style="display: inline-block; max-width: 45px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner" style="padding: 10px;">
                    <p class="number" style="color: #ce973e; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 38px; font-weight: bold; margin: 0 0 0 5px;">!!</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td><td width="500">
        <![endif]-->
            <div class="column right" style="display: inline-block; max-width: 549px; vertical-align: top; width: 100%;">
              <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
                <tr>
                  <td class="inner contents" style="padding: 10px; width: 100%;">
                    <p class="h3" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; letter-spacing: 0.3px; margin: 8px 0 16px 0; text-align: left;">Consider Thinkful</p>
                    <p class="h3-paragraph" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; text-align: left;">
                      Check out <%= link_to "Thinkful", "https://www.thinkful.com/?utm_source=odin_signup&utm_source=The-Odin-Project&utm_medium=email&utm_content=odin-welcome-email&utm_campaign=tf_enroll" %>, a new type of school which provides 1-on-1 learning with industry experts to bring high growth tech careers to ambitious people everywhere. Thinkful’s Engineering Immersion (full time), Full Stack Flex (flexible), and Data Science (flexible) programs all come with a job guarantee. It proudly sponsors The Odin Project.</p>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
          </td>
        </tr>

        <tr>
          <td class="one-column" style="padding: 0;">
            <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
              <tr>
                <td class="contents inner" style="padding: 10px; text-align: left; width: 100%;">
                  <p class="outro-text" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">If you have any additional questions, check out our
                    <%= link_to "Frequently Asked Questions", faq_url %> or feel free to reach out to <a href="mailto: contact@theodinproject.com">contact@theodinproject.com</a>.</p>
                  <p class="outro-text bold" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold;">Best of luck with your learning journey!</p>
                  <p class="outro-text" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Sincerely,</p>
                  <p class="outro-text" style="color: #4a4a4a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"><span class="italicised" style="font-style: italic;">The Odin Maintainer Team</span></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="one-column" style="padding: 0;">
            <table width="100%" style="border-spacing: 0; color: #333333; font-family: sans-serif;">
              <tr>
                <td class="contents" style="padding: 0; text-align: left; width: 100%;">
                  <p class="italicised-text" style="color: rgba(74, 74, 74, 0.3); font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-style: italic; line-height: 16px; margin: 10px;">The Odin Project is a free and open-source curriculum for learning web development. It charts a path through
                    existing resources on the web so anyone in the world can develop a job-ready skillset and a professional
                    portfolio of work without the loneliness and uncertainty of working on their own.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
      <!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

      <table class="padding-table" align="center" style="background-color: #fafafa; border-spacing: 0; color: #333333; font-family: sans-serif; margin: 0; max-width: 600px; vertical-align: bottom; width: 100%;">
        <tr>
          <td style="padding: 0;">
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
  </center>
</body>

</html>
