<div class="row student">
  <div class="student-pic">
    <a href="<%= user_path(user) %>">
      <img src="<%= gravatar_url(user, 100) %>" title="<%= user.username %>">
    </a>
  </div>
  <div class="span8 student-info">
    <h3><%= link_to "#{user.username}", user %></h3>
    <% if user.github %>
      <%= link_to "#{user.github}", user.github %>
    <% else %>
      &nbsp;
    <% end %>
    <br>
    Current Projects: <%= user.content_buckets.map(&:name).join(", ") %>
  </div>
</div>