<div class="row student">
  <div class="student-pic">
    <a href="<%= user_path(user) %>">
      <img src="<%= gravatar_url(user, 100) %>" title="<%= user.username %>" class="student-mini-pic">
    </a>
  </div>
  <div class="student-info">
    <h3><%= link_to "#{user.username}", user %></h3>
    <strong>Current Projects:</strong> <%= user.content_buckets.map(&:name).join(", ") %>
  </div>
</div>