<div id="user_settings" class="gradient">
  <% if @edit %>
    <form accept-charset="UTF-8" id="edit-user" method="post" action="/users/<%= @user.id %>">
      <input name="_method" type="hidden" value="put">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <% end %>
  <div class="container center-contents">
    <h1 class="text-center settings-section">Settings</h1>
    <div class="profile settings-section">
      <h2>Profile</h2>
      <div class="settings-card profile-card">
        <div class="profile-pic">
          <%= image_tag gravatar_url(@user, 100), alt: "Profile Pic"%>
        </div>
        <div class="profile-details">
          <div class="field">
            <div class="label">Name</div>
            <div class="value"><%= best_in_place @user, :username, :as => :input %></div>
          </div>
          <div class="field">
            <div class="label">Email Address</div>
            <div class="value"><%= best_in_place @user, :email, :as => :input %></div>
          </div>
          <div class="field">
            <div class="label">Password</div>
            <div class="value">thisfieldisnoteditable</div>
          </div>
        </div>
      </div>
    </div>
    <div class="learning-goal settings-section">
      <h2>Learning Goal</h2>
      <div class="settings-card profile-card">
        <div class="goal">
          <%= best_in_place @user, :learning_goal, :as => :input, :place_holder => "Click me to set a learning goal!"%>
        </div>
        <div class="spacer"></div>
        <div class="completion-date">
          Estimated Completion date:<%= best_in_place @user, :learning_goal_completion_date, :as => :date, :display_with => format_completion_date %>
        </div>
      </div>
    </div>
    <div class="notifications settings-section">
      <h2>Notifications</h2>
      <div class="settings-card profile-card">
        Notification stuff goes here
      </div>
    </div>
    <div class="save settings-section">
      <input type='submit' value='Save changes' class="submit-button">
    </div>
  </div>
</div>
