<div id="user_settings" class="gradient">
  <% if @edit %>
    <form accept-charset="UTF-8" id="edit-user" method="post" action="/users/<%= @user.id %>">
      <input name="_method" type="hidden" value="put">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <% end %>
  <div class="container center-contents">
    <h1 class="text-center settings-section">Settings</h1>
    <div class="profile settings-section">
      <h2>Profile</h2>
      <div class="settings-card profile-card">
        <div class="profile-pic">
          <%= image_tag gravatar_url(@user, 100), alt: "Profile Pic"%>
        </div>
        <div class="profile-details">
          <div class="field">
            <div class="label">Name</div>
            <div class="value"><%= @user.username %></div>
          </div>
          <div class="field">
            <div class="label">Password</div>
            <div class="value">********</div>
          </div>
          <div class="field">
            <div class="label">Email Address</div>
            <div class="value"><%= @user.email %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="learning-goal settings-section">
      <h2>Learning Goal</h2>
      <div class="settings-card profile-card">
        <div class="goal">
          Complete the entire stinkin project! OH BABY
        </div>
        <div class="spacer"></div>
        <div class="completion-date">
          Estimated Completion date: May 2018
        </div>
      </div>
    </div>
    <div class="notifications settings-section">
      <h2>Notifications</h2>
      <div class="settings-card profile-card">
        Notification stuff goes here
      </div>
    </div>
    <div class="save settings-section">
      <input type='submit' value='Save changes' class="submit-button">
    </div>
  </div>
        

</div>
