<div id="devise-form">
  <h2>Change your password</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, :label => "Enter a new password", :required => true, :autofocus => true %>
      <%= f.input :password_confirmation, :label => "Confirm new password", :required => true %>
    </div>

    <%= f.button :submit, "Change my password", :class => "btn-primary btn-large pull-right" %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>