<%= title('Forgot Your Password') %>

<div class="gradient">
  <div class="container push-container-down">
    <h1 class="text-center accent">Forgot your password?</h1>
    <div class='col-lg-8 offset-lg-2'>

      <div class="card-main">
        <p class="push-down">Enter your email and we'll send you password reset instructions.</p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |form| %>

          <div class="form__section">
            <span class="fas fa-envelope form__icon"></span>
            <%= form.email_field :email, autofocus: true, placeholder: "Email", required: true, class: 'form__element form__element--with-icon'  %>
          </div>

          <% if resource.errors[:email].present? %>
            <div class="form__error-message push-down user_email">Email address <%=resource.errors[:email].first %></div>
          <% end %>

          <%= form.submit "Send reset instructions", class: "button button--primary full-width push-down" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
