<% unless user_signed_in? && course_started_by_user?(course, user) %>
  <%= link_to path_course_path(course.path, course) do %>
    <div class="course-badge" data-test-id='default-badge'>
      <%= image_tag course.badge, alt: "#{course.title} badge", class: 'course-badge__image' %>
    </div>
  <% end %>
<% else %>
  <%= link_to path_course_path(course.path, course) do %>
    <div class="course-badge progress-circle <%= modifier %>" data-progress="<%= percentage_completed_by_user(course, user) %>">
      <div class="progress-circle__inner" data-test-id='progress-badge'>
        <%= image_tag course.borderless_badge, alt: "#{course.title} badge", class: 'progress-circle__image' %>
        <p class="bold progress-circle__content"><%= "#{percentage_completed_by_user(course, user)}%" %></p>
        <p class="progress-circle__content">COMPLETE</p>
      </div>
    </div>
  <% end %>
<% end %>
