<footer id="footer">
  <div class="footer-logo">
    <%= render "shared/logo_text" %>
  </div>
  <div class="footer-social">
    <%= link_to image_tag("icons/icon-github.png"), "https://github.com/TheOdinProject"%>
    <%= link_to image_tag("icons/icon-gitter.png"), "https://gitter.im/TheOdinProject"%>
    <%= link_to image_tag("icons/icon-facebook.png"), "https://www.facebook.com/theodinproject/"%>
    <%= link_to image_tag("icons/icon-twitter.png"), "https://twitter.com/TheOdinProject"%>
  </div>
  <div class="footer-links">
    <div class="footer-links-container">
      <%= link_to "About", about_path %>
      <%= link_to "FAQ", faq_path %>
      <%= link_to "Blog", "http://1000hours.io" %>
    </div>
    <div class="footer-links-container">
      <%= link_to "Legal", legal_path %>
      <%= link_to "Press", press_path %>
      <%= link_to "Contribute", contributing_path %>
    </div>
  </div>


</footer>
