<head>
<!--
    .
  .o8
.odin8o  .odino.  oo.ooooo.
  888   d88' `88b  888' `88b
  888   888   888  888   888
  888 . 888   888  888   888
  "888" `Y8odinP'  888bod8P'
                   888
                  odin!


Our full stack curriculum is free and supported by a passionate open source community. Do you want to contribute? Chat with us at https://discord.gg/hvqVr6d
-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The Odin Project empowers aspiring web developers to learn together">
  <meta name="keywords" content="learn web development, learn ruby on rails, ruby on rails, ruby, rails">
  <meta property="og:image" content="<%= image_url('og-logo.png') %>">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <title>
    <%= content_for(:title) || 'Your Career in Web Development Starts Here | The Odin Project' %>
  </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all'%>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:300,300italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
</head>
