
<div class='navbar'>
  <%= render "shared/logo_text" %>

  <nav>
    <a href="<%= courses_path %>">Curriculum</a>
    <%= link_to 'Chat', chat_link, class: 'gitter-chat-link', target: '_blank' %>
    <% if user_signed_in? %>
      <%= link_to "Profile", current_user %></li>
      <%= link_to "Account", edit_user_registration_path %></li>
      <%= link_to "Logout", logout_path  %>
    <% else %>
      <%= link_to "Login", login_path, :class=>"top-link", :id=>"login-link" %>
    <% end %>
  </nav>
</div>
