<div id="navbar-supported-content" class="modal modal-fullscreen-menu fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="navbar-brand">
          <%= render 'shared/logo' %>
        </div>
        <button aria-label="Close" type="button" class="close" data-dismiss="modal">
          <span class="sr-only">Close navigation</span>
          <span class="close-icon">&times;</span>
        </button>
      </div>
      <ul class="modal-links">
        <% if user_signed_in? %>
          <li class="nav-item <%= active_class(dashboard_path) %>">
            <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
          </li>

          <li class="nav-item <%= active_class(path_url(current_user.path)) %>">
            <%= link_to 'My Path', path_url(current_user.path), class: 'nav-link' %>
          </li>

          <li class="nav-item <%= active_class(paths_url) %>">
            <%= link_to 'All Paths', paths_url, class: 'nav-link' %>
          </li>

          <li class="nav-item <%= active_class(paths_url) %>">
            <%= link_to "Community", chat_link, class: 'nav-link', target: '_blank', rel: 'noreferrer' %>
          </li>

          <div class="dropdown-divider"></div>
          <li class="nav-item <%= active_class(edit_user_registration_path) %>">
            <%= link_to "Settings", edit_user_registration_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Log Out", logout_path, class: 'nav-link' %>
          </li>

        <% else %>
          <li class="nav-item <%= active_class(paths_url) %>">
            <%= link_to 'All Paths', paths_url, class: 'nav-link' %>
          </li>

          <li class="nav-item <%= active_class(paths_url) %>">
            <%= link_to "Community", chat_link, class: 'nav-link', target: '_blank', rel: 'noreferrer' %>
          </li>

          <li class="nav-item <%= active_class(about_path) %>">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>

          <li class="nav-item <%= active_class(faq_path) %>">
            <%= link_to "FAQ", faq_path, class: 'nav-link' %>
          </li>

          <div class="dropdown-divider"></div>

          <li class="nav-item <%= active_class(sign_up_path) %>">
            <%= link_to 'Sign Up', sign_up_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= active_class(login_path) %>">
            <%= link_to 'Log In', login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
