<div class="navbar navbar-toggleable-md navbar-light">
  <div class="navbar-brand">
    <%= render 'shared/brand' %>
  </div>
  <%= render 'shared/navbar_components/toggle_button' %>
  <% if user_signed_in? %> 
    <nav class="collapse navbar-collapse">
      <!-- Full Width Navbar -->
      <ul class="navbar-nav ml-auto hidden-md-down">
        <%= render 'shared/navbar_components/curriculum' %>
        <%= render 'shared/navbar_components/chat' %>
        <li class="divider nav-link">|</li>
        <%= render 'shared/user_dropdown' %>
      </ul>
  <% else %>
    <nav class="collapse navbar-collapse" id="">
      <ul class="navbar-nav ml-auto">
        <%= render 'shared/navbar_components/curriculum' %>
        <%= render 'shared/navbar_components/chat' %>
        <%= render 'shared/navbar_components/about' %>
        <div class="dropdown-divider"></div>
        <li class="divider nav-link">|</li>
        <%= render 'shared/navbar_components/signup' %>
        <%= render 'shared/navbar_components/login' %>
      </ul>
    </nav>
  <% end %>
    </ul>
  </nav>
</div>

<!-- Modal Content -->
<div id="navbar-supported-content" class="modal modal-fullscreen-menu fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="navbar-brand">
          <%= render 'shared/brand' %>
        </div>
        <button aria-label="Close" type="button" class="close" data-dismiss="modal">
          <span class="sr-only">Close navigation</span>
          <span>X</span>
        </button>
      </div>
      <ul class="modal-links">
        <%= render 'shared/navbar_components/dashboard' %>
        <%= render 'shared/navbar_components/curriculum' %>
        <%= render 'shared/navbar_components/chat' %>
        <div class="dropdown-divider"></div>
        <%= render 'shared/navbar_components/settings' %>
        <%= render 'shared/navbar_components/logout' %>
      </ul>
    </div>
  </div>
</div>
