<!--  This bar allows users who are signed in to view their progress
      as they move through a course.  It is generated totally
      using CSS and HTML (instead of Javascript) -->

<% if user_signed_in? %>
  <% lessons = lesson.course.lessons.order(:position => :asc) %>
  <% pct = (100.0 / (lessons.count + 1.0)).to_f %>
  <% course_pct = lesson.course.percent_completed_by(current_user) %>

  <div id="lc-progress-bar">
    <div class="lc-progress-wrapper">

      <!-- Beginning and end cap circles (clickable!) -->
      <%= link_to lessons_path(lesson.course.title_url, :ref => "lc-pb") do %>
        <div  class="lc-end-circle <%= course_pct == 100 ? 'lc-completed' : '' %>" 
              title="Go back to <%= lesson.course.title %>"
              style="0%">
        </div>
      <% end %>
      <%= link_to lessons_path(lesson.course.title_url, :ref => "lc-pb") do %>
        <div  class="lc-end-circle lc-right-end <%= course_pct == 100 ? 'lc-completed' : '' %>" 
              title="Go back to <%= lesson.course.title %>"
              style="0%">
        </div>
      <% end %>

      <!-- Individual lesson circles (clickable!) -->
      <% lessons.each_with_index do |l,i| %>
        <% if l == lesson %>
          <div class="pending-line"></div>
          <div class="completed-line" style="width: <%= (i+1) * pct %>%"></div>
          <%= link_to "#" do %>
            <div  class="lc-active-circle" 
                  title="You've completed <%= course_pct.to_i %>% of this course"
                  style="left:<%= (i+1)*pct %>%">
              <span class="lc-pct"><%= course_pct.to_i %>%</span>
            </div>
          <% end %>
        <% else %>
          <% classes =  "lc-circle" %>
          <% classes <<  ( current_user.completed_lesson?(l) ? ' lc-complete' : ' lc-pending' ) %>
          <% classes << ( l.is_project ? ' lc-project' : ' lc-lesson' ) %>
          <%= link_to lesson_path(l.course.title_url, l.title_url, :ref => "lc-pb") do %>
            <div  class="<%= classes %>" 
                  title="<%= l.is_project ? "Project:" : "" %> <%= l.title %>"
                  style="left:<%= (i+1)*pct %>%">
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>