<div class="odin-dropdown">
  <button class="odin-dropdown__toggle" aria-label='User Menu' data-odin-dropdown='toggle'>
    <%= image_tag avatar_path(current_user.avatar), size: "30x30", class: 'avatar inline', alt: 'user avatar' %>
  </button>

  <ul class="odin-dropdown__menu odin-dropdown__hidden">
    <li class="odin-dropdown__item">
      <%= link_to dashboard_path, class: "accent #{active_class(dashboard_path)}" do %>
        <%= image_tag image_path('icons/icon-dashboard.svg'), class: "odin-dropdown__item-icon" %>
        Dashboard
      <% end %>
    </li>

    <li class="odin-dropdown__item">
      <%= link_to edit_user_registration_path, class: "accent #{active_class(edit_user_registration_path)}" do %>
        <%= image_tag image_path('icons/icon-settings.svg'), class: "odin-dropdown__item-icon" %>
        Settings
      <% end %>
    </li>

    <li class="odin-dropdown__item">
      <%= link_to logout_path, class: 'accent' do %>
        <%= image_tag image_path('icons/icon-logout.svg'), class: "odin-dropdown__item-icon" %>
        Log out
      <% end %>
    </li>
  </ul>
</div>
