<div class="project-form-container">
  <%= render 'loader' %>
  <h3 class="text-primary">Upload your project</h4>

  <div class="notification-message">
    <span class="fa"></span>&nbsp;&nbsp;
    <span class="message"></span>
  </div>

  <%= form_for([lesson, project]) do |f| %>
    <div class="form-group">
      <%= f.label :repo_url, 'Repository URL', class: 'control-label' %>
      <%= f.text_field :repo_url, class: 'form-control',
            placeholder: 'https://github.com/username/reponame' %>
    </div>

    <div class="form-group">
      <%= f.label :live_preview, 'Live Preview', class: 'control-label' %>
      <%= f.text_field :live_preview, class: 'form-control',
            placeholder: 'https://appname.herokuapp.com' %>
    </div>

    <div class="form-group">
      <%= f.submit (project.new_record? ? 'Upload project' : 'Update submission'),
            class: 'btn btn-success btn-block', id: 'project-submit-btn' %>
    </div>
  <% end %>

  <% unless project.new_record? %>
    <%= link_to [lesson, project], class: 'btn btn-danger btn-block',
          id: 'project-delete-btn' do %>
        <i class="fa fa-trash"></i>&nbsp;Destroy submission
    <% end %>
  <% end %>
</div>