<!--  
This partial renders the form used to mark lessons completed or uncompleted.
It will be called from multiple contexts, so when you call it you need to
specify the explicit path to the partial, 
e.g. `render :partial => "lessons/completion_form", ...` 
instead of using the common short form of 
 `render :partial => "lessons/completion_form", ... `
You'll need to pass it several variables: `method`, `form_class`,`lesson`,`form_text` 
-->

<%= link_to "#", :class => "#{form_class} action-lesson" do %>
  <div class="uncheckedbox-container">
    <%= form_for LessonCompletion.new, :method => method, :remote => true do |f| %>
      <%= hidden_field_tag(:lesson_id, lesson.id) %>
      <%= hidden_field_tag(:student_id, current_user.id) %>
      
      <div class="lc-checkbox"></div>
      <h3>
        <%= form_text %>
      </h3>
      
    <% end %>
    
  </div>
<% end %>