<% if user_signed_in? %>

    <% if current_user.has_completed?(@lesson) %>

        <button class="button button--primary">
            <%= @lesson.is_project ? "Project" : "Lesson" %> Completed
        </button>

        <%= form_tag lesson_completion_path(:lesson_id => @lesson.id), :method => "DELETE", :remote => true, :class => "lc-link-form" do %>
            <%= link_to "Change #{@lesson.is_project ? 'project' : 'lesson'} to not completed", "#", :class => "lc-uncomplete-link" %>
        <% end %>

    <% else %>

        <%= form_for LessonCompletion.new, :method => "POST", :remote => true do |f| %>
        <a href="#" class="checkbox-container lc-unchecked">
            <%= hidden_field_tag(:lesson_id, @lesson.id) %>
            <button class="button button--primary">
                Mark <%= @lesson.is_project ? "Project" : "Lesson" %> Completed
            </button>
        </a>
        <% end %>

    <% end %>
    
<% else %>

    <%= link_to "Login to track progress", login_path, title: "Go to login page", class: 'button button--primary' %>

<% end %>