<div class="CoursesController">
  <div class="container">
    <div class="heading-box">
      <div class="heading">
        <h1><%= @course.title %></h1>
      </div>
      <div class="subheading">
        <p>
          <%= @course.description %>
        </p>
      </div>
    </div>

    
    <div class="sections-list">
      <% @sections.each do |section| %>

        <div class="section" id="section-<%= section.title_url %>">
          <div class="section-title">
            <h2>
              <%= section.title %>
            </h2>
          </div>
          <div class="section-description">
            <p>
              <%= section.description %>
            </p>
          </div>

          <div class="lessons-list">
            <!-- <h2>lessons:</h2> -->
            <% lesson_num = 0 %>
            <% section.lessons.each do |lesson| %>
              <% lesson_num += 1 unless lesson.is_project %>
              <%= link_to lesson_path(lesson.course.title_url, lesson.title_url) do %>
                <div class="lesson <%= lesson.is_project ? 'project' :''%>">
                  <div class="lesson-number">
                    <h3>
                      <%= lesson.is_project ? "Project" : "Step #{lesson_num}"%>: &nbsp;
                    </h3>
                  </div>

                  <div class="lesson-content">
                    <div class="lesson-title">
                      <h3>
                        <%= lesson.title %>
                      </h3>
                    </div>
                    <div class="description">
                      <p>
                        <%= lesson.description %>
                      </p>
                    </div>
                  </div>

                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>
    <div class="back-link">
      <%= link_to "Back to Courses List", courses_path %>
    </div>
    </div>
  </div>
</div>