<%= title(@lesson.title) %>

<div class="individual-lesson">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <%= render 'courses/course/banner', course: @course, show_completion_percent: true %>
        <h2 class="lesson-title accent"><%= @lesson.title %></h2>
        
        <div id="lesson-content">
          <%= convert_markdown_to_html(@lesson.content) %>
        </div>
      </div>
    </div>
  </div>

  <div id="lesson-details">
    <div class="container text-center">
      <%= render 'courses/course/banner', course: @course, show_completion_percent: false %>

      <h3 class="lesson-title text-center text-uppercase accent bold"><%= @lesson.title %> </h3>

      <%= render 'lesson_actions', lesson: @lesson %>

      <div class="card">
        <!--TODO-->
      </div>

      <%= render 'shared/bottom_cta',
        button: gitter_button,
        heading: 'Got questions?',
        sub_heading: 'Chat with our friendly Odin community in our Gitter chatrooms'
      %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".individual-lesson a[href^='http://']").attr("target","_blank");
    $(".individual-lesson a[href^='https://']").attr("target","_blank");
  });
</script>
