<%= title(@lesson.title) %>

<!-- progress-tracking bar -->
<%= render 'shared/pt_bar', lesson: @lesson %>

<div class="individual-lesson <%= @lesson.is_project ? 'project-lesson' : ''%>">
  <div class="container">

    <% if user_signed_in? %>
      <h3 class="lc-completion-indicator <%= current_user.has_completed?(@lesson) ? '' : 'hidden' %>" title="You've completed this lesson!">
        &#10004;
      </h3>
    <% end %>

    <div class="col-lg-10 offset-lg-1">
      <%= render 'courses/course/banner', course: @course %>
      <div id="lesson-content">
        <%= convert_markdown_to_html(@lesson.content) %>
      </div>
    </div>
    
  </div>

  <div id="lesson-details">
    <div class="container">
      <%= render 'courses/course/banner', course: @course %>
      <h2 class="text-center accent"><%= @lesson.title %> </h2>

      <%= link_to course_path(@lesson.course.title_url, :ref => "lnav"), :title => "Go back to \"#{@lesson.course.title}\""  do %>
        <button class="button primary">View Course</button>
      <% end %>

      <%= render 'mark_lesson_completed' %>

      <%= link_to course_lesson_path(@lesson.course, @lesson.next_lesson, :ref => "lnav"), :title => "Move on to \"#{@lesson.next_lesson.title}\"" do %>
        <button class="button primary">Next Lesson</button>
      <% end %>

      <div class="card">
        <h3>Solutions</h3>
      </div>

      <%= render 'shared/bottom_cta',
        button: gitter_button,
        heading: 'Got questions?',
        subheading: 'Chat with our friendly Odin community in our Gitter chatrooms'
      %>
    </div>
  </div>

</div>

<script>
  $(function(){
    $(".individual-lesson a[href^='http://']").attr("target","_blank");
    $(".individual-lesson a[href^='https://']").attr("target","_blank");
  });

  // Invoke scroll effect, file lesson_header_onScroll.coffee
  window.lesson.applyScrollEffect([$('.navbar-fixed-top'), $('#lesson-nav')], { showOnHover: true });
</script>
