<%= title(@lesson.title) %>

<div class="page-container lesson">

  <%= render 'lessons/header', lesson: @lesson %>

  <main class="grid grid-cols-12 gap-x-6">
    <article class="col-span-full md:col-span-8 md:col-start-3 xl:col-span-8 xl:col-start-2 ">
      <div class="lesson-content max-w-prose text-xl" data-controller="clickable-images syntax-highlighting external-link-targets">
        <%= @lesson.content.html_safe %>
      </div>
    </article>

     <aside class="col-span-4 col-start-10 hidden xl:block">
      <div class="sticky top-12 pb-20 lesson-navigation"></div>
    </aside>
  </main>
</div>

<div class="lesson-functions">
  <div class="container">
    <div class="card-main">

      <% if user_signed_in? && @lesson.accepts_submission? %>
        <%= react_component(
          "project-submissions/index",
          {
            userId: current_user.id,
            course: @lesson.course.as_json,
            lesson: @lesson.as_json,
            submissions: @project_submissions,
            allSubmissionsPath: lesson_project_submissions_path(@lesson.id),
            userSubmission: @user_submission
          }
        ) %>
      <% elsif @lesson.accepts_submission? %>
          <p class="lesson-functions__call-to-login">
            Please <%= link_to 'Log In', login_path, class: 'lesson-functions__link' %> or <%= link_to 'Sign Up', sign_up_path, class: 'lesson-functions__link', data: {test_id: 'sign_up'} %> to view user submissions for this project!
          </p>
      <% end %>

      <div class="lesson-button-group">
        <%= render 'lesson_buttons', lesson: @lesson, course: @lesson.course, user: @user %>
      </div>
    </div>

    <%= link_to github_edit_url(@lesson),
      target: :_blank,
      rel: 'noreferrer noopener',
      class: 'lesson-functions__edit-lesson-link' do %>
      <span class="fab fa-github mr-1"></span>
      <span> Improve this lesson on GitHub</span>
    <% end %>

    <%= render 'shared/bottom_cta',
      button: chat_button,
      heading: 'Have a question?',
      sub_heading: 'Chat with our friendly Odin community in our Discord chatrooms!'
    %>

    <%= render 'advert' %>
  </div>
</div>
