<%= title(@lesson.title) %>

<div class="container">
    <div class="col-lg-8 offset-lg-2">
      <div class='lesson-header'>
        <%= render 'courses/course/banner', course: @lesson.course %>
        <h3 class="lesson-header__title accent"><%= @lesson.title %></h3>
      </div>

      <div class="lesson-content">
        <%= @lesson.content.html_safe %>
      </div>
    </div>
</div>

<div class="lesson-functions">
  <div class="container">
    <div class="card-main">
      <h1 class="lesson-functions__title"><%= @lesson.course.title %></h1>
      <h3 class="lesson-functions__sub-title accent bold"><%= @lesson.title %></h3>
      <div class="lesson-button-group">
        <%= render 'lesson_buttons', lesson: @lesson, course: @lesson.course, user: @user %>
      </div>

      <% if @projects && ProjectSubmissionFeature.enabled? %>
        <%= render 'submissions' %>
      <% end %>
    </div>

    <%= render 'shared/bottom_cta',
      button: gitter_button,
      heading: 'Got questions?',
      sub_heading: 'Chat with our friendly Odin community in our Gitter chatrooms!'
    %>

    <%= render 'viking-advert' %>
  </div>
</div>

<script>
  $(function() {
    $(".lesson-content a[href^='http://']").attr("target","_blank");
    $(".lesson-content a[href^='https://']").attr("target","_blank");
  });
</script>
