<%= content_for :title, title("#{@lesson.course.title} -- #{@lesson.title}",true) %>
<div id="lesson-nav">
  <div class="inner-nav">
    <%= link_to "Course List", courses_path %> >> 
    <%= link_to "#{@lesson.course.title}", lessons_path(@lesson.course.title_url) %> >> 
    <%= link_to "#{@lesson.section.title}", lessons_path(@lesson.course.title_url, :anchor => "section-#{@lesson.section.title_url}") %> >> 
    <% if @lesson.is_project %>
      Project:
    <% else %>
      <%= "#{@lesson_position_in_section}:" %>
    <% end %>
    <%= @lesson.title %>
  </div>
</div>
<div class="individual-lesson <%= @lesson.is_project ? 'project-lesson' : ''%>">
  <div class="container">

    <% if user_signed_in? %>
      <h3 class="lc-completion-indicator <%= current_user.completed_lesson?(@lesson) ? '' : 'hidden' %>" title="You've completed this lesson!">
        &#10004;
      </h3>
    <% end %>

    <%= @content %>

    <%= render 'lessons/contribution_links' %>
    <div class="action-box">
      <div class="lc-end-wrapper">
        <%= render "shared/complete_lesson" %>
      </div>

      <div class="lnav">

        <div class="lnav-prev lnav-wrap <%= 'lnav-disabled' unless @prev_lesson %> ">
          <% if @prev_lesson %>
            <%= link_to lesson_path(@course.title_url, @prev_lesson.title_url), :title => "Go back to \"#{@prev_lesson.title}\""  do %>
              <div class="lnav-prev-icon icon"></div>
              <div class="lnav-text">
                <p>Prev</p><p>Lesson</p>
              </div>
            <% end %>
          <% else %>
            <div class="lnav-prev-icon icon"></div>
            <div class="lnav-text">
              <p>Previous</p><p>Lesson</p>
            </div>
          <% end %>
        </div>

        <div class="lnav-index lnav-wrap <%= 'lnav-active' unless @next_lesson %>">
          <%= link_to lessons_path(@course.title_url), :title => "Go back to \"#{@course.title}\""  do %>
            <div class="lnav-course-icon icon"></div>
            <div class="lnav-text">
              <p>View</p><p>Course</p>
            </div>
          <% end %>
        </div>

        <div class="lnav-next lnav-wrap <%= 'lnav-disabled' unless @next_lesson %> <%= 'lnav-active' if user_signed_in? && current_user.completed_lesson?(@lesson) %>">
          <% if @next_lesson %>
            <%= link_to lesson_path(@course.title_url, @next_lesson.title_url), :title => "Move on to \"#{@next_lesson.title}\"" do %>
              <div class="lnav-next-icon icon"></div>
              <div class="lnav-text">
                <p>Next</p><p>Lesson</p>
              </div>
            <% end %>
          <% else %>
            <div class="lnav-next-icon icon"></div>
            <div class="lnav-text">
              <p>Next</p><p>Lesson</p>
            </div>
          <% end %>
        </div>

      </div>
      
      <h1>
        Congratulations!
      </h1> 

      <% if @next_lesson %>
        <h3>
          You're ready to move on to the next <%= @next_lesson.is_project ? "project" : "lesson" %>
        </h3>

        <div class="forward-button">
          <%= link_to lesson_path(@course.title_url, @next_lesson.title_url) do %>
            <% if @next_lesson.is_project %>
              <button class="project-button">
                <%= "Go to the \"#{@next_lesson.title}\" Project".html_safe %>
              </button>
            <% else %>
              <button>
                <%= "Go to the Next Lesson: <br>\"#{@next_lesson.title}\"".html_safe %>
              </button>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <h3>
          You've completed <%= @course.title %>!  <br>That's pretty darn impressive.
        </h3>
        <div class="forward-button">
          <%= link_to courses_path do %>
            <button>
              <%= "View the Courses Index" %>
            </button>
          <% end %>
        </div>
      <% end %>

      <% if @prev_lesson %>
        <div class="nav-link">
          <%= link_to "Previous lesson: \"#{@prev_lesson.title}\"", lesson_path(@course.title_url, @prev_lesson.title_url) %>
        </div>
      <% end %>
      <div class="nav-link">
        <%= link_to "Back to #{@course.title}", lessons_path(@course.title_url) %>
      </div>
      <div class="nav-link">
        <%= link_to "Back to Courses List", courses_path %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $(".individual-lesson a[href^='http://']").attr("target","_blank");
  });
</script>
