<%= title(@lesson.title) %>

<div class="page-container lesson">

  <%= render 'lessons/header', lesson: @lesson %>

  <main class="grid grid-cols-12 gap-x-6" data-controller="lesson-toc" data-lesson-toc-item-classes-value="no-underline hover:text-blue-gray-800">
    <article class="col-span-full xl:col-span-7 xl:col-start-2">
      <div class="lesson-content max-w-prose mx-auto xl:mx-0 prose prose-lg prose-gold" data-controller="syntax-highlighting" data-lesson-toc-target="lessonContent">
        <%= @lesson.content.html_safe %>
      </div>
    </article>

    <aside class="col-span-3 col-start-10 justify-self-end hidden xl:block">
      <div class="sticky top-12 pb-20">
        <h4 class="text-xl font-semibold pb-4 text-blue-gray-700 odin-dark-light-gray-font">Lesson Contents</h4>
        <ul class="flex flex-col text-blue-gray-700" data-lesson-toc-target="toc"></ul>
      </div>
    </aside>
  </main>
</div>

<div class="bg-gray-100 text-center odin-dark-bg">
  <div class="page-container">

    <%= render CardComponent.new(classes: "odin-dark-bg-accent") do |card| %>
      <% card.body do %>
        <% if user_signed_in? && @lesson.accepts_submission? %>
          <%= react_component(
            "project-submissions/index",
            {
              userId: current_user.id,
              course: @lesson.course.as_json,
              lesson: @lesson.as_json,
              submissions: @project_submissions,
              allSubmissionsPath: lesson_project_submissions_path(@lesson.id),
              userSubmission: @user_submission
            }
          ) %>
        <% elsif @lesson.accepts_submission? %>
          <p class="mb-7">
            Please <%= link_to 'Log In', login_path, class: 'text-gold' %> or <%= link_to 'Sign Up', sign_up_path, class: 'text-gold', data: {test_id: 'sign_up'} %> to view user submissions for this project!
          </p>
        <% end %>

        <%= render 'lesson_buttons', lesson: @lesson, course: @lesson.course, user: @user %>
      <% end %>
    <% end %>


    <%= link_to github_edit_url(@lesson), target: :_blank, rel: 'noreferrer noopener', class: 'text-gold text-lg block mt-14' do %>
      <span class="fab fa-github mr-1"></span>
      <span> Improve this lesson on GitHub</span>
    <% end %>

    <%= render 'shared/bottom_cta',
      button: chat_button,
      heading: 'Have a question?',
      sub_heading: 'Chat with our friendly Odin community in our Discord chatrooms!'
    %>

    <%= render 'advert' %>
  </div>
</div>
