<section class="py-12 sm:py-24 bg-gray-100 odin-dark-bg">
  <div class="container">
    <h2 class="mb-12 text-gold text-center text-2xl font-bold">Overview of The Odin Project</h2>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-8 gap-y-16">
      <%= render CardComponent.new(classes: 'odin-dark-bg-accent') do |card| %>
        <% card.body(classes: 'py-4 text-center' ) do %>
          <p class="font-bold text-gray-400 text-4xl"><%= User.count %></p>
          <p>Learners</p>
        <% end %>
      <% end %>

      <%= render CardComponent.new do |card| %>
        <% card.body(classes: 'py-4 text-center' ) do %>
          <p class="font-bold text-gray-400 text-4xl">5000+</p>
          <p>Contributors</p>
        <% end %>
      <% end %>

      <%= render CardComponent.new do |card| %>
        <% card.body(classes: 'py-4 text-center' ) do %>
          <p class="font-bold text-gray-400 text-4xl">2013</p>
          <p>Founded</p>
        <% end %>
      <% end %>

      <div class="col-span-3 lg:col-span-2">
        <%= render CardComponent.new(classes: 'h-full') do |card| %>
          <% card.header(classes: 'px-4') do %>
            <h3 class="font-bold text-4xl">Origin of The Odin Project</h3>
          <% end %>
          <% card.body(classes: 'px-4') do %>
            <p class="mb-8">The Odin Project provides a free open source coding curriculum that can be taken entirely online. Since its inception, it has helped many students get hired as developers and has assisted countless others in learning enough programming to work on their own personal projects.</p>
            <p class="mb-8">Founded in 2013 by Erik Trautman, The Odin Project is now sponsored by <a href="https://www.thinkful.com/?utm_source=odin&utm_medium=cpc&utm_campaign=odin-about" alt="Thinkful, a new type of technology school that provides 1-on-1 learning">Thinkful</a>, a new type of technology school that provides 1-on-1 learning through its network of industry experts, hiring partners, and online platform to deliver a structured and flexible education.</p>
            <p>The Odin Project is maintained and continually improved by a team of volunteers, many of whom learned to code with us. Many find success from Odin Project&apos;s curriculum because of its hands-on approach with learning and emphasis on building projects. The curriculum is meticulously curated to ensure the content is up-to-date.</p>
          <% end %>
        <% end %>
      </div>

      <div class="col-span-3 lg:col-span-1">
        <%= render CardComponent.new do |card| %>
          <% card.header(classes: 'flex px-4 align-middle') do %>
            <a href="https://www.github.com/theodinproject" target="_blank"><i class="fab fa-github fa-3x"></i></a>
            <h3 class="font-bold text-4xl text-gray-400 inline-block ml-4">Open Source</h3>
          <% end %>
          <% card.body(classes: 'px-4' ) do %>
            <p class="mb-8">This website and the curriculum it hosts are completely open source. That means anyone can work on new features or fix existing bugs on the website. This also extends to the curriculum itself, anyone can work on new lessons, add new resources and improve existing lessons.</p>
            <p>The Odin project would not be possible without the hard work of contributors from all across the world. If you're interested in helping us make Odin better please find out <a href="<%= contributing_path %>">how to contribute.</a></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
