<div class="row course-badge-title-wrapper align-items-center">
  <div class="col-md-8 col-lg-9 course-badge-title align-items-center">
    <div class="course-badge">
      <%= image_tag course.badge, alt: "#{course.title} badge", class: 'course-badge' %>
    </div>

    <div class="course-title text-uppercase">
      <h2 class="font-weight-bold"><%= course.title %></h2>

      <span class="lessons-count grey">
        <%= course.lessons_count %> lessons
      </span>
    </div> <!-- /.course-title -->
  </div> <!-- /.course-title-wrapper -->

  <div class="col view-course-button-wrapper">
    <%= link_to 'Open Course', course, class: 'view-course-button white' %>
  </div>
</div> <!-- /.row -->

<div class="row course-description-wrapper">
  <div class="col">
    <div class="course-description">
      <p class="grey"><%= course.brief_desc %></p>
    </div>
  </div> <!-- /.col -->
</div> <!-- /.row -->
