<div class="course-card-header">

  <%= link_to course, class: 'course-card-header__link' do %>
    <div class='course-card-header__image'>
      <%= render 'shared/course_badge', course: course %>
    </div>
  <% end %>

  <div class="">
    <h2 class="course-card-header__title"><%= course.title %></h2>
    <span class="course-card-header__sub-title"><%= course.lessons_count %> lessons</span>
  </div>

  <%= link_to 'Open Course', course, class: 'button button--secondary course-card-header__button' %>
</div>

<div class="row course-description-wrapper">
  <div class="col">
    <div class="course-description">
      <p class="grey"><%= course.description %></p>
    </div>
  </div> <!-- /.col -->
</div> <!-- /.row -->
