<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <div class="card-main course-card">
      <div class="course-card-header">

        <%= link_to course, class: 'course-card-header__link' do %>
          <div class='course-card-header__image'>
            <%= render 'shared/course_badge', course: course, user: @user %>
          </div>
        <% end %>

        <%= link_to course, class: "course-card-header__link" do %>
          <h2 class="course-card-header__title"><%= course.title %></h2>
          <span class="course-card-header__sub-title"><%= course.lessons.size %> lessons</span>
        <% end %>

        <%= link_to 'Open Course', course, class: 'button button--secondary course-card-header__button' %>
      </div>

      <div class="course-card__description">
        <p><%= course.description %></p>
      </div>
    </div> <!-- /.course-card -->
  </div> <!-- /.col -->
</div> <!-- /.row -->
