<div class="CoursesController">
  <div class="container">
    <div class="heading-box">
      <div class="heading">
        <h1>Make Me a Web Developer!</h1>
      </div>
      <div class="subheading">
        <p>
          Regardless of why you're here, we've laid out a path that will guide you on your way to becoming a web developer.  We found the best free resources out there and grouped them into the courses below so you don't have to waste time doing it yourself, and we've given you projects to build as well so you can really learn the material and boost your portfolio.  Best of all, it's free!
        </p>
      </div>
    </div>

    <div class="courses-list">
      <!-- <h2>Courses:</h2> -->
      <% @courses.each_with_index do |course, i| %>
        <div class="course">

          <div class="course-title">
            <h2>
              <%= i+1 %>: <%= course.title %>
            </h2>
          </div>

          <div class="teaser">
            <h3>
              <%= course.teaser %>
            </h3>
          </div>

          <div class="course-content">

            <div class="description">
              <p>
                <%= course.brief_desc %>
              </p>
            </div>

            <div class="what-youll-learn facts">
              <h4>
                You Will Learn
              </h4>
              <ul>
                <% course.you_learn.each do |fact| %>
                  <li>
                    <%= fact %>
                  </li>
                <% end %>
              </ul>
              <div class="see-more">
                <%= link_to "See more", course_path(course.title_url) %>
              </div>
            </div>

            <div class="what-youll-build facts">
              <h4>
                You Will Build
              </h4>
              <ul>
                <% course.you_build.each do |project| %>
                  <li>
                    <%= project %>
                  </li>
                <% end %>
              </ul>
              <div class="see-more">
                <%= link_to "See more", course_path(course.title_url) %>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>