<div class="success-stories gradient">
 <div class="success-stories-title">
    <h2 class="bold">Success Stories</h2>
  </div> <!-- /.success-stories-title -->

  <%
    success_stories = [
      { student_name: 'Ben Gray', student_avatar_url: 'http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg', story_content: 'The best free learning resource for code learners. Highly recommend it! Great community as well on Gitter.' },
      { student_name: 'Michael Weins', student_avatar_url: 'http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg', story_content: 'Fantastic learning experience with The Odin Project! Upon completion, I was offered a job at several startups.' },
      { student_name: 'Kris Tobiki', student_avatar_url: 'http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg', story_content: 'Incredible experience throughout the curriculum. I’ve met many new developer friends and collaborated together.' },
      { student_name: 'Laura Smith', student_avatar_url: 'http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg', story_content: 'Love the courses offered and the self-paced learning. I absolutely love the personal dashboard to track progress.' }
    ]
  %>

  <div class="success-stories-container">
    <% success_stories.each_with_index do |story, index| %>
      <div class="success-story <%= "story-#{index}"%>">
        <div class="photo1"> <%= image_tag story[:student_avatar_url] %> </div>
        <div class="success-content">
	  <div class="name-and-photo">
            <div class="photo2"> <%= image_tag story[:student_avatar_url] %> </div>
            <p><%= story[:student_name] %></p>
	  </div>
          <p><%= story[:story_content] %></p>
        </div> <!-- /.success-content -->
      </div> <!-- /.success-story -->
    <% end %>
  </div> <!-- /.success-stories-container -->

  <div class="success-stories-read-more">
    <%= link_to 'Read more success stories', success_stories_path, class: 'secondary' %>
  </div> <!-- /.success-stories-read-more -->

  <% unless current_user %>
    <%= render 'shared/bottom_cta', 
        button: sign_up_button,
        heading: 'Start learning for free now!',
        subheading: ''
    %>
  <% else %>
    <%= render 'shared/bottom_cta', 
        button: curriculum_button,
        heading: 'Start learning for free now!',
        subheading: ''
    %>
  <% end %>

</div> <!-- /.success-stories -->
