<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <% if @navbar == false %>
      <%= bootstrap_flash %>
      <%= yield %>
    <% else %>

      
      
      
      <%= render "shared/navbar" %>
      <div class="nav-spacer"></div>

      <div class="container">
      
     <div id="flash-message">
       <% if @flash_messages.any? %>
        <% @flash_messages.each do |m|  %>
          <div class="alert alert-warning alert-dismissable">
            <p><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button></p>
            <%= md(m.message) %>
          </div>
        <% end %>
       <% end %>
     </div>
        
        <div class="row">
          <%= bootstrap_flash %>
          <%= yield %>
        </div><!--/row-->
      

      </div> <!-- /container -->

    <% end %>
    
    <%= render "shared/footer" %> 

  </body>
  <script src="js/bootstrap.min.js"></script>
</html>
