<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>
    
    <!-- turn off "global" navbar if directed to (e.g. on home page) -->
    <% if @navbar == false %>
    
      <%= bootstrap_flash %>
      <%= yield %>
    
    <% else %>
    
      <%= render "shared/navbar" %>
      <div class="nav-spacer"></div>
      
      <!-- Admin Flash is only meant to render if NOT homepage  -->
      <% unless @is_home_page %> 
        <%= render "shared/admin_flash" %>
      <% end %>
    
      <div class="container">
        <!--  flash message was here -->
        
          <%= bootstrap_flash %>
          <%= yield %>
        </div><!--/row-->
      

      </div> <!-- /container -->

    <% end %>
    
    <%= render "shared/footer" %> 

  </body>
  <script src="js/bootstrap.min.js"></script>
</html>
