<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <% if @navbar == false %>
      <%= bootstrap_flash %>
      <%= yield %>
    <% else %>

      <%= render "shared/navbar" %>
      <div class="nav-spacer"></div>

      <div class="container">
        <div class="row">
          <%= bootstrap_flash %>
          <%= yield %>
        </div><!--/row-->
      

      </div> <!-- /container -->

    <% end %>
    
    <%= render "shared/footer" %> 

  </body>
</html>
