<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <% unless @navbar == false %>
      <%= render "shared/navbar" %>
      <div class="nav-spacer"></div>
    <% end %>

    <div class="container">
      <div class="row">
        <%= bootstrap_flash %>
        <%= yield %>
      </div><!--/row-->
    
      <%= render "shared/footer" %>

    </div> <!-- /container -->

  </body>
</html>
