<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <%= render "shared/navbar" %>

    <div class="container">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->

      <hr>
      
      <footer id="footer">
        <p>&copy; The Odin Project 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
