<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <%= render "shared/navbar" %>

    <div class="container">
        <div class="row">
          <%= bootstrap_flash %>
          <%= yield %>
        </div><!--/row-->

      
        <%= render "shared/footer" %>

    </div> <!-- /container -->

  </body>
</html>
