<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for(:title) || 'Your Career in Web Development Starts Here | The Odin Project' %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Odin Project empowers aspiring web developers to learn together for free">
    <meta property="og:image" content="<%= image_url('og-logo.png') %>">
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <%= stylesheet_link_tag 'application_stylesheet', media: 'all'  %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:300,300italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <% if cookies[:theme] == "dark" %>
      <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/gh/TheOdinProject/top-dark-theme@master/darkMode.css', media: 'all' %>
    <% end %>
  </head>

  <body class="line-numbers">
    <div id="global-content-wrapper">
      <%= render 'shared/navbar_and_flashes' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= render 'shared/sidecar' %>
    <%= render 'shared/ga' %>
    <%= render 'shared/fb' %>
    <%= render 'layouts/error_tracking' %>
  </body>
</html>
