<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>

  <body>
    <div id="global-content-wrapper">
      <%= render 'shared/navbar_and_flashes' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= render 'shared/sidecar' %>
    <%= render 'shared/ga' %>
    <%= render 'shared/fb' %>
  </body>
</html>
