<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <% if @navbar == false %>
      <%= bootstrap_flash %>
      <%= yield %>
    <% else %>

      <%= render "shared/navbar" %>
      <div class="nav-spacer"></div>
       <%= render "shared/admin_flash" %>
      <div class="container">
        <!--  flash message was here -->

          <%= bootstrap_flash %>
          <%= yield %>
        </div><!--/row-->
      

      </div> <!-- /container -->

    <% end %>
    
    <%= render "shared/footer" %> 

  </body>
  <script src="js/bootstrap.min.js"></script>
</html>
